<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>886488B2-FE63-4413-B20B-3247C2B9EE2A</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<real>700.0</real>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>mask</string>
	</array>
	<key>com.typemytype.robofont.mask.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>NULL</string>
				<string>CR</string>
				<string>space</string>
				<string>dottedcircle</string>
				<string>highdef</string>
				<string>zerowidthnonjoiner</string>
				<string>zerowidthjoiner</string>
				<string>period</string>
				<string>comma</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>ellipsis</string>
				<string>exclam</string>
				<string>question</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>less</string>
				<string>greater</string>
				<string>slash</string>
				<string>backslash</string>
				<string>bar</string>
				<string>at</string>
				<string>ampersand</string>
				<string>asterisk</string>
				<string>divide</string>
				<string>multiply</string>
				<string>plus</string>
				<string>minus</string>
				<string>equal</string>
				<string>percent</string>
				<string>hyphen</string>
				<string>endash</string>
				<string>emdash</string>
				<string>numbersign</string>
				<string>dollar</string>
				<string>cent</string>
				<string>inr_currency</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>asciicircum</string>
				<string>underscore</string>
				<string>grave</string>
				<string>asciitilde</string>
				<string>dCandraBinduInverted</string>
				<string>dCandraBindu</string>
				<string>dAnusvara</string>
				<string>dVisarga</string>
				<string>dAshort</string>
				<string>dA</string>
				<string>dAa</string>
				<string>dI</string>
				<string>dIi</string>
				<string>dU</string>
				<string>dUu</string>
				<string>dRvocalic</string>
				<string>dLvocalic</string>
				<string>dEcandra</string>
				<string>dEshort</string>
				<string>dE</string>
				<string>dAi</string>
				<string>dOcandra</string>
				<string>dOshort</string>
				<string>dO</string>
				<string>dAu</string>
				<string>dKa</string>
				<string>dKha</string>
				<string>dGa</string>
				<string>dGha</string>
				<string>dNga</string>
				<string>dCa</string>
				<string>dCha</string>
				<string>dJa</string>
				<string>dJha</string>
				<string>dNya</string>
				<string>dTta</string>
				<string>dTtha</string>
				<string>dDda</string>
				<string>dDdha</string>
				<string>dNna</string>
				<string>dTa</string>
				<string>dTha</string>
				<string>dDa</string>
				<string>dDha</string>
				<string>dNa</string>
				<string>dNnna</string>
				<string>dPa</string>
				<string>dPha</string>
				<string>dBa</string>
				<string>dBha</string>
				<string>dMa</string>
				<string>dYa</string>
				<string>dRa</string>
				<string>dRra</string>
				<string>dLa</string>
				<string>dLla</string>
				<string>dLlla</string>
				<string>dVa</string>
				<string>dSha</string>
				<string>dSsa</string>
				<string>dSa</string>
				<string>dHa</string>
				<string>dOesign</string>
				<string>dOoesign</string>
				<string>dNukta</string>
				<string>dAvagraha</string>
				<string>dAasign</string>
				<string>dIsign</string>
				<string>dIisign</string>
				<string>dUsign</string>
				<string>dUusign</string>
				<string>dRvocalicsign</string>
				<string>dRrvocalicsign</string>
				<string>dEcandrasign</string>
				<string>dEshortsign</string>
				<string>dEsign</string>
				<string>dAisign</string>
				<string>dOcandrasign</string>
				<string>dOshortsign</string>
				<string>dOsign</string>
				<string>dAusign</string>
				<string>dVirama</string>
				<string>dEprishthamatrasign</string>
				<string>dAwsign</string>
				<string>dOm</string>
				<string>dUdatta</string>
				<string>dAnudatta</string>
				<string>dGrave</string>
				<string>dAcute</string>
				<string>dUesign</string>
				<string>dUuesign</string>
				<string>dQa</string>
				<string>dKhha</string>
				<string>dGhha</string>
				<string>dZa</string>
				<string>dDddha</string>
				<string>dRha</string>
				<string>dFa</string>
				<string>dYya</string>
				<string>dRrvocalic</string>
				<string>dLlvocalic</string>
				<string>dLvocalicsign</string>
				<string>dLlvocalicsign</string>
				<string>dDanda</string>
				<string>dDbldanda</string>
				<string>dZero</string>
				<string>dOne</string>
				<string>dTwo</string>
				<string>dThree</string>
				<string>dFour</string>
				<string>dFive</string>
				<string>dSix</string>
				<string>dSeven</string>
				<string>dEight</string>
				<string>dNine</string>
				<string>dAbbsign</string>
				<string>dHighspacingdot</string>
				<string>dAcandra</string>
				<string>dOe</string>
				<string>dOoe</string>
				<string>dAw</string>
				<string>dUe</string>
				<string>dUue</string>
				<string>dZha</string>
				<string>dYaheavy</string>
				<string>dGga</string>
				<string>dJja</string>
				<string>dGlottalstop</string>
				<string>dDdda</string>
				<string>dBba</string>
				<string>dZerocombiningdigit</string>
				<string>dOnecombiningdigit</string>
				<string>dTwocombiningdigit</string>
				<string>dThreecombiningdigit</string>
				<string>dFourcombiningdigit</string>
				<string>dFivecombiningdigit</string>
				<string>dSixcombiningdigit</string>
				<string>dSevencombiningdigit</string>
				<string>dEightcombiningdigit</string>
				<string>dNinecombiningdigit</string>
				<string>dAcombiningletter</string>
				<string>dUcombiningletter</string>
				<string>dKacombiningletter</string>
				<string>dNacombiningletter</string>
				<string>dPacombiningletter</string>
				<string>dRacombiningletter</string>
				<string>dVicombiningletter</string>
				<string>dAvagrahacombiningsign</string>
				<string>dSpacingcandrabindu</string>
				<string>dCandrabinduvirama</string>
				<string>dDoublecandrabinduvirama</string>
				<string>dCandrabindudigittwo</string>
				<string>dCandrabindudigitthree</string>
				<string>dCandrabinduavagraha</string>
				<string>dPushpika</string>
				<string>dGapfiller</string>
				<string>dCaret</string>
				<string>dHeadstroke</string>
				<string>dEight.nep</string>
				<string>dFive.nep</string>
				<string>dZha.nep</string>
				<string>dJha.nep</string>
				<string>dLa.mar</string>
				<string>dSha.mar</string>
				<string>dSha.half.mar</string>
				<string>dIsign.alt1</string>
				<string>dIsign.alt2</string>
				<string>dIsign.alt3</string>
				<string>dIsign.alt4</string>
				<string>dIsign.alt5</string>
				<string>dIsign.alt6</string>
				<string>dIsign.alt7</string>
				<string>dIsign.alt8</string>
				<string>dIsign.ja</string>
				<string>dIsign.tha</string>
				<string>dIsign.kha</string>
				<string>dIsignAnusvara</string>
				<string>dIsignAnusvara.alt1</string>
				<string>dIsignAnusvara.alt2</string>
				<string>dIsignAnusvara.alt3</string>
				<string>dIsignAnusvara.alt4</string>
				<string>dIsignAnusvara.alt5</string>
				<string>dIsignAnusvara.alt6</string>
				<string>dIsignAnusvara.alt7</string>
				<string>dIsignAnusvara.alt8</string>
				<string>dIsignAnusvara.ja</string>
				<string>dIsignAnusvara.tha</string>
				<string>dIsignAnusvara.kha</string>
				<string>dIsignReph</string>
				<string>dIsignReph.alt1</string>
				<string>dIsignReph.alt2</string>
				<string>dIsignReph.alt3</string>
				<string>dIsignReph.alt4</string>
				<string>dIsignReph.alt5</string>
				<string>dIsignReph.alt6</string>
				<string>dIsignReph.alt7</string>
				<string>dIsignReph.alt8</string>
				<string>dIsignReph.ja</string>
				<string>dIsignReph.tha</string>
				<string>dIsignReph.kha</string>
				<string>dIsignRephAnusvara</string>
				<string>dIsignRephAnusvara.alt1</string>
				<string>dIsignRephAnusvara.alt2</string>
				<string>dIsignRephAnusvara.alt3</string>
				<string>dIsignRephAnusvara.alt4</string>
				<string>dIsignRephAnusvara.alt5</string>
				<string>dIsignRephAnusvara.alt6</string>
				<string>dIsignRephAnusvara.alt7</string>
				<string>dIsignRephAnusvara.alt8</string>
				<string>dIsignRephAnusvara.ja</string>
				<string>dIsignRephAnusvara.tha</string>
				<string>dIsignRephAnusvara.kha</string>
				<string>dIisign.alt1</string>
				<string>dIisignAnusvara</string>
				<string>dIisignAnusvara.alt1</string>
				<string>dIisignReph</string>
				<string>dIisignReph.alt1</string>
				<string>dIisignRephAnusvara</string>
				<string>dIisignRephAnusvara.alt1</string>
				<string>dUsign.alt</string>
				<string>dUsign.alt2</string>
				<string>dEsignAnusvara</string>
				<string>dEsignReph.alt1</string>
				<string>dEsignRephAnusvara</string>
				<string>dAisignAnusvara</string>
				<string>dAisignReph.alt1</string>
				<string>dAisignRephAnusvara</string>
				<string>dOsignAnusvara</string>
				<string>dOsignReph.alt1</string>
				<string>dOsignRephAnusvara</string>
				<string>dAusignAnusvara</string>
				<string>dAusignReph.alt1</string>
				<string>dAusignRephAnusvara</string>
				<string>dRakar</string>
				<string>dRakar.alt</string>
				<string>dReph</string>
				<string>dRephAnusvara</string>
				<string>dReph.alt</string>
				<string>dVattuUlow</string>
				<string>dVattuUulow</string>
				<string>dRaUsign</string>
				<string>dRaUusign</string>
				<string>dHaRvocalicsign</string>
				<string>dDaRvocalicsign</string>
				<string>dShaRvocalicsign</string>
				<string>dKa.half</string>
				<string>dKha.half</string>
				<string>dGa.half</string>
				<string>dGha.half</string>
				<string>dNga.half</string>
				<string>dCa.half</string>
				<string>dCha.half</string>
				<string>dJa.half</string>
				<string>dJha.half</string>
				<string>dNya.half</string>
				<string>dTta.half</string>
				<string>dTtha.half</string>
				<string>dDda.half</string>
				<string>dDdha.half</string>
				<string>dNna.half</string>
				<string>dTa.half</string>
				<string>dTha.half</string>
				<string>dDa.half</string>
				<string>dDha.half</string>
				<string>dNa.half</string>
				<string>dNnna.half</string>
				<string>dPa.half</string>
				<string>dPha.half</string>
				<string>dBa.half</string>
				<string>dBha.half</string>
				<string>dMa.half</string>
				<string>dYa.half</string>
				<string>dLa.half</string>
				<string>dLla.half</string>
				<string>dLlla.half</string>
				<string>dVa.half</string>
				<string>dSha.half</string>
				<string>dSsa.half</string>
				<string>dSa.half</string>
				<string>dHa.half</string>
				<string>dQa.half</string>
				<string>dKhha.half</string>
				<string>dGhha.half</string>
				<string>dZa.half</string>
				<string>dFa.half</string>
				<string>dSha.half.alt</string>
				<string>dJha.half.nep</string>
				<string>dBRa.half</string>
				<string>dTRa.half</string>
				<string>dKSsa.half</string>
				<string>dJNya.half</string>
				<string>dTTa.half</string>
				<string>dNBha.half</string>
				<string>dNSa.half</string>
				<string>dMBha.half</string>
				<string>dLBha.half</string>
				<string>dJJa.half</string>
				<string>dKSsMa.half</string>
				<string>dKRa</string>
				<string>dKhRa</string>
				<string>dGRa</string>
				<string>dGhRa</string>
				<string>dCRa</string>
				<string>dJRa</string>
				<string>dJhRa</string>
				<string>dNyRa</string>
				<string>dNnRa</string>
				<string>dTRa</string>
				<string>dThRa</string>
				<string>dDRa</string>
				<string>dDhRa</string>
				<string>dNRa</string>
				<string>dPRa</string>
				<string>dPhRa</string>
				<string>dBRa</string>
				<string>dBhRa</string>
				<string>dMRa</string>
				<string>dYRa</string>
				<string>dLRa</string>
				<string>dVRa</string>
				<string>dShRa</string>
				<string>dSsRa</string>
				<string>dSRa</string>
				<string>dHRa</string>
				<string>dKRa.nep</string>
				<string>dKSsRa</string>
				<string>dJNyRa</string>
				<string>dJNya</string>
				<string>dNgKa</string>
				<string>dNgKha</string>
				<string>dNgGa</string>
				<string>dNgGha</string>
				<string>dNgMa</string>
				<string>dTtTta</string>
				<string>dTtTtha</string>
				<string>dTtVa</string>
				<string>dTthTtha</string>
				<string>dDdDda</string>
				<string>dDdDdha</string>
				<string>dDdYa</string>
				<string>dDdhYa</string>
				<string>dDdhDdha</string>
				<string>dDGa</string>
				<string>dDGha</string>
				<string>dDDa</string>
				<string>dDDha</string>
				<string>dDNa</string>
				<string>dDBa</string>
				<string>dDBha</string>
				<string>dDMa</string>
				<string>dDYa</string>
				<string>dDVa</string>
				<string>dNgKSsa</string>
				<string>dKKha</string>
				<string>dKCa</string>
				<string>dKJa</string>
				<string>dKTta</string>
				<string>dKNna</string>
				<string>dKTha</string>
				<string>dKDa</string>
				<string>dKNa</string>
				<string>dKPa</string>
				<string>dKPha</string>
				<string>dKMa</string>
				<string>dKYa</string>
				<string>dKSha</string>
				<string>dKSa</string>
				<string>dKTa</string>
				<string>dKLa</string>
				<string>dKSsa</string>
				<string>dKKa</string>
				<string>dKVa</string>
				<string>dKhKha</string>
				<string>dKhTa</string>
				<string>dKhMa</string>
				<string>dKhYa</string>
				<string>dKhVa</string>
				<string>dKhSha</string>
				<string>dKhNa</string>
				<string>dGGa</string>
				<string>dGGha</string>
				<string>dGJa</string>
				<string>dGNna</string>
				<string>dGDa</string>
				<string>dGDha</string>
				<string>dGBa</string>
				<string>dGBha</string>
				<string>dGMa</string>
				<string>dGYa</string>
				<string>dGLa</string>
				<string>dGVa</string>
				<string>dGSa</string>
				<string>dGNa</string>
				<string>dGhNa</string>
				<string>dGhMa</string>
				<string>dGhYa</string>
				<string>dCCa</string>
				<string>dCCha</string>
				<string>dCNa</string>
				<string>dCMa</string>
				<string>dCYa</string>
				<string>dChVa</string>
				<string>dJJa</string>
				<string>dJKa</string>
				<string>dJJha</string>
				<string>dJTta</string>
				<string>dJDda</string>
				<string>dJTa</string>
				<string>dJDa</string>
				<string>dJBa</string>
				<string>dJMa</string>
				<string>dJYa</string>
				<string>dJVa</string>
				<string>dJNa</string>
				<string>dJhNa</string>
				<string>dJhMa</string>
				<string>dJhYa</string>
				<string>dNyCha</string>
				<string>dNySha</string>
				<string>dNyCa</string>
				<string>dNyJa</string>
				<string>dNnTta</string>
				<string>dNnTha</string>
				<string>dNnDda</string>
				<string>dNnDdha</string>
				<string>dNnNna</string>
				<string>dNnMa</string>
				<string>dNnYa</string>
				<string>dNnVa</string>
				<string>dTKa</string>
				<string>dTKha</string>
				<string>dTTha</string>
				<string>dTPa</string>
				<string>dTPha</string>
				<string>dTMa</string>
				<string>dTYa</string>
				<string>dTLa</string>
				<string>dTVa</string>
				<string>dTSa</string>
				<string>dTTa</string>
				<string>dTNa</string>
				<string>dThYa</string>
				<string>dThVa</string>
				<string>dTtYa</string>
				<string>dTthYa</string>
				<string>dDhMa</string>
				<string>dDhYa</string>
				<string>dDhVa</string>
				<string>dDhNa</string>
				<string>dNKa</string>
				<string>dNCa</string>
				<string>dNTta</string>
				<string>dNDda</string>
				<string>dNTa</string>
				<string>dNYa</string>
				<string>dNDa</string>
				<string>dNDha</string>
				<string>dNPa</string>
				<string>dNPha</string>
				<string>dNBha</string>
				<string>dNMa</string>
				<string>dNVa</string>
				<string>dNSa</string>
				<string>dNHa</string>
				<string>dNNa</string>
				<string>dNTha</string>
				<string>dPTa</string>
				<string>dPPa</string>
				<string>dPPha</string>
				<string>dPMa</string>
				<string>dPYa</string>
				<string>dPLa</string>
				<string>dPVa</string>
				<string>dPSa</string>
				<string>dPTta</string>
				<string>dPNa</string>
				<string>dPhJa</string>
				<string>dPhTta</string>
				<string>dPhTa</string>
				<string>dPhPa</string>
				<string>dPhPha</string>
				<string>dPhYa</string>
				<string>dPhLa</string>
				<string>dPhSha</string>
				<string>dBJa</string>
				<string>dBTa</string>
				<string>dBDa</string>
				<string>dBDha</string>
				<string>dBBa</string>
				<string>dBBha</string>
				<string>dBYa</string>
				<string>dBLa</string>
				<string>dBVa</string>
				<string>dBSha</string>
				<string>dBSa</string>
				<string>dBZa</string>
				<string>dBNa</string>
				<string>dBhYa</string>
				<string>dBhVa</string>
				<string>dMTa</string>
				<string>dMDa</string>
				<string>dMPa</string>
				<string>dMBa</string>
				<string>dMBha</string>
				<string>dMMa</string>
				<string>dMYa</string>
				<string>dMLa</string>
				<string>dMVa</string>
				<string>dMSha</string>
				<string>dMSa</string>
				<string>dMHa</string>
				<string>dMNa</string>
				<string>dYYa</string>
				<string>dLKa</string>
				<string>dLKha</string>
				<string>dLGa</string>
				<string>dLJa</string>
				<string>dLTta</string>
				<string>dLTtha</string>
				<string>dLDda</string>
				<string>dLDdha</string>
				<string>dLTa</string>
				<string>dLTha</string>
				<string>dLDa</string>
				<string>dLPa</string>
				<string>dLPha</string>
				<string>dLBa</string>
				<string>dLBha</string>
				<string>dLMa</string>
				<string>dLYa</string>
				<string>dLLa</string>
				<string>dLLa.mar</string>
				<string>dLVa</string>
				<string>dLSa</string>
				<string>dLHa</string>
				<string>dLZa</string>
				<string>dLlYa</string>
				<string>dVYa</string>
				<string>dVLa</string>
				<string>dVVa</string>
				<string>dVHa</string>
				<string>dShKa</string>
				<string>dShCha</string>
				<string>dShTta</string>
				<string>dShTa</string>
				<string>dShMa</string>
				<string>dShYa</string>
				<string>dShLa</string>
				<string>dShSha</string>
				<string>dShQa</string>
				<string>dShCa</string>
				<string>dShNa</string>
				<string>dShVa</string>
				<string>dSsNna</string>
				<string>dSsPa</string>
				<string>dSsPha</string>
				<string>dSsMa</string>
				<string>dSsYa</string>
				<string>dSsVa</string>
				<string>dSsSsa</string>
				<string>dSsTta</string>
				<string>dSsTtha</string>
				<string>dSKa</string>
				<string>dSKha</string>
				<string>dSJa</string>
				<string>dSTta</string>
				<string>dSTa</string>
				<string>dSTha</string>
				<string>dSDa</string>
				<string>dSPa</string>
				<string>dSPha</string>
				<string>dSBa</string>
				<string>dSMa</string>
				<string>dSYa</string>
				<string>dSLa</string>
				<string>dSVa</string>
				<string>dSSa</string>
				<string>dSNa</string>
				<string>dHNna</string>
				<string>dHNa</string>
				<string>dHMa</string>
				<string>dHYa</string>
				<string>dHLa</string>
				<string>dHVa</string>
				<string>dQTa</string>
				<string>dQPha</string>
				<string>dQBa</string>
				<string>dQMa</string>
				<string>dQQa</string>
				<string>dQFa</string>
				<string>dKhhTa</string>
				<string>dKhhMa</string>
				<string>dKhhYa</string>
				<string>dKhhVa</string>
				<string>dKhhSha</string>
				<string>dKhhSa</string>
				<string>dZYa</string>
				<string>dZZa</string>
				<string>dFTa</string>
				<string>dFSa</string>
				<string>dFZa</string>
				<string>dFFa</string>
				<string>dKTYa</string>
				<string>dKTRa</string>
				<string>dKTVa</string>
				<string>dKPRa</string>
				<string>dKVYa</string>
				<string>dKSsMa</string>
				<string>dKSsYa</string>
				<string>dKSsVa</string>
				<string>dKSTta</string>
				<string>dKSDda</string>
				<string>dKSTa</string>
				<string>dGDhYa</string>
				<string>dGDhVa</string>
				<string>dGNYa</string>
				<string>dGBhYa</string>
				<string>dCChVa</string>
				<string>dJJNya</string>
				<string>dJJYa</string>
				<string>dJJVa</string>
				<string>dJNyYa</string>
				<string>dNyCYa</string>
				<string>dNyJYa</string>
				<string>dTKYa</string>
				<string>dTKRa</string>
				<string>dTKVa</string>
				<string>dTKSsa</string>
				<string>dTKhNa</string>
				<string>dTKhRa</string>
				<string>dTTYa</string>
				<string>dTTVa</string>
				<string>dTNYa</string>
				<string>dTPRa</string>
				<string>dTPLa</string>
				<string>dTMYa</string>
				<string>dTRYa</string>
				<string>dTSNa</string>
				<string>dTSYa</string>
				<string>dTSVa</string>
				<string>dDhNYa</string>
				<string>dNKSa</string>
				<string>dNTYa</string>
				<string>dNTRa</string>
				<string>dNTSa</string>
				<string>dNThYa</string>
				<string>dNThVa</string>
				<string>dNDRa</string>
				<string>dNDVa</string>
				<string>dNDhYa</string>
				<string>dNDhRa</string>
				<string>dNDhVa</string>
				<string>dNNYa</string>
				<string>dNPRa</string>
				<string>dNMYa</string>
				<string>dNSTta</string>
				<string>dNHYa</string>
				<string>dPTYa</string>
				<string>dBJYa</string>
				<string>dBDhVa</string>
				<string>dBBhRa</string>
				<string>dBLYa</string>
				<string>dMPRa</string>
				<string>dMBYa</string>
				<string>dMBRa</string>
				<string>dMBhRa</string>
				<string>dLKYa</string>
				<string>dLThYa</string>
				<string>dLDRa</string>
				<string>dLLYa</string>
				<string>dLVDda</string>
				<string>dLHYa</string>
				<string>dSsKRa</string>
				<string>dSsNnYa</string>
				<string>dSsPRa</string>
				<string>dSsMYa</string>
				<string>dSKRa</string>
				<string>dSKVa</string>
				<string>dSTYa</string>
				<string>dSTRa</string>
				<string>dSTVa</string>
				<string>dSThYa</string>
				<string>dSPRa</string>
				<string>dSMYa</string>
				<string>dDDhRYa</string>
				<string>dKSPRa</string>
				<string>dKSPLa</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>CR</string>
		<string>space</string>
		<string>dottedcircle</string>
		<string>highdef</string>
		<string>zerowidthnonjoiner</string>
		<string>zerowidthjoiner</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>question</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>less</string>
		<string>greater</string>
		<string>slash</string>
		<string>backslash</string>
		<string>bar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>asterisk</string>
		<string>divide</string>
		<string>multiply</string>
		<string>plus</string>
		<string>minus</string>
		<string>equal</string>
		<string>percent</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>cent</string>
		<string>inr_currency</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>asciitilde</string>
		<string>dCandraBinduInverted</string>
		<string>dCandraBindu</string>
		<string>dAnusvara</string>
		<string>dVisarga</string>
		<string>dAshort</string>
		<string>dA</string>
		<string>dAa</string>
		<string>dI</string>
		<string>dIi</string>
		<string>dU</string>
		<string>dUu</string>
		<string>dRvocalic</string>
		<string>dLvocalic</string>
		<string>dEcandra</string>
		<string>dEshort</string>
		<string>dE</string>
		<string>dAi</string>
		<string>dOcandra</string>
		<string>dOshort</string>
		<string>dO</string>
		<string>dAu</string>
		<string>dKa</string>
		<string>dKha</string>
		<string>dGa</string>
		<string>dGha</string>
		<string>dNga</string>
		<string>dCa</string>
		<string>dCha</string>
		<string>dJa</string>
		<string>dJha</string>
		<string>dNya</string>
		<string>dTta</string>
		<string>dTtha</string>
		<string>dDda</string>
		<string>dDdha</string>
		<string>dNna</string>
		<string>dTa</string>
		<string>dTha</string>
		<string>dDa</string>
		<string>dDha</string>
		<string>dNa</string>
		<string>dNnna</string>
		<string>dPa</string>
		<string>dPha</string>
		<string>dBa</string>
		<string>dBha</string>
		<string>dMa</string>
		<string>dYa</string>
		<string>dRa</string>
		<string>dRra</string>
		<string>dLa</string>
		<string>dLla</string>
		<string>dLlla</string>
		<string>dVa</string>
		<string>dSha</string>
		<string>dSsa</string>
		<string>dSa</string>
		<string>dHa</string>
		<string>dOesign</string>
		<string>dOoesign</string>
		<string>dNukta</string>
		<string>dAvagraha</string>
		<string>dAasign</string>
		<string>dIsign</string>
		<string>dIisign</string>
		<string>dUsign</string>
		<string>dUusign</string>
		<string>dRvocalicsign</string>
		<string>dRrvocalicsign</string>
		<string>dEcandrasign</string>
		<string>dEshortsign</string>
		<string>dEsign</string>
		<string>dAisign</string>
		<string>dOcandrasign</string>
		<string>dOshortsign</string>
		<string>dOsign</string>
		<string>dAusign</string>
		<string>dVirama</string>
		<string>dEprishthamatrasign</string>
		<string>dAwsign</string>
		<string>dOm</string>
		<string>dUdatta</string>
		<string>dAnudatta</string>
		<string>dGrave</string>
		<string>dAcute</string>
		<string>dUesign</string>
		<string>dUuesign</string>
		<string>dQa</string>
		<string>dKhha</string>
		<string>dGhha</string>
		<string>dZa</string>
		<string>dDddha</string>
		<string>dRha</string>
		<string>dFa</string>
		<string>dYya</string>
		<string>dRrvocalic</string>
		<string>dLlvocalic</string>
		<string>dLvocalicsign</string>
		<string>dLlvocalicsign</string>
		<string>dDanda</string>
		<string>dDbldanda</string>
		<string>dZero</string>
		<string>dOne</string>
		<string>dTwo</string>
		<string>dThree</string>
		<string>dFour</string>
		<string>dFive</string>
		<string>dSix</string>
		<string>dSeven</string>
		<string>dEight</string>
		<string>dNine</string>
		<string>dAbbsign</string>
		<string>dHighspacingdot</string>
		<string>dAcandra</string>
		<string>dOe</string>
		<string>dOoe</string>
		<string>dAw</string>
		<string>dUe</string>
		<string>dUue</string>
		<string>dZha</string>
		<string>dYaheavy</string>
		<string>dGga</string>
		<string>dJja</string>
		<string>dGlottalstop</string>
		<string>dDdda</string>
		<string>dBba</string>
		<string>dZerocombiningdigit</string>
		<string>dOnecombiningdigit</string>
		<string>dTwocombiningdigit</string>
		<string>dThreecombiningdigit</string>
		<string>dFourcombiningdigit</string>
		<string>dFivecombiningdigit</string>
		<string>dSixcombiningdigit</string>
		<string>dSevencombiningdigit</string>
		<string>dEightcombiningdigit</string>
		<string>dNinecombiningdigit</string>
		<string>dAcombiningletter</string>
		<string>dUcombiningletter</string>
		<string>dKacombiningletter</string>
		<string>dNacombiningletter</string>
		<string>dPacombiningletter</string>
		<string>dRacombiningletter</string>
		<string>dVicombiningletter</string>
		<string>dAvagrahacombiningsign</string>
		<string>dSpacingcandrabindu</string>
		<string>dCandrabinduvirama</string>
		<string>dDoublecandrabinduvirama</string>
		<string>dCandrabindudigittwo</string>
		<string>dCandrabindudigitthree</string>
		<string>dCandrabinduavagraha</string>
		<string>dPushpika</string>
		<string>dGapfiller</string>
		<string>dCaret</string>
		<string>dHeadstroke</string>
		<string>dEight.nep</string>
		<string>dFive.nep</string>
		<string>dZha.nep</string>
		<string>dJha.nep</string>
		<string>dLa.mar</string>
		<string>dSha.mar</string>
		<string>dSha.half.mar</string>
		<string>dIsign.alt1</string>
		<string>dIsign.alt2</string>
		<string>dIsign.alt3</string>
		<string>dIsign.alt4</string>
		<string>dIsign.alt5</string>
		<string>dIsign.alt6</string>
		<string>dIsign.alt7</string>
		<string>dIsign.alt8</string>
		<string>dIsign.ja</string>
		<string>dIsign.tha</string>
		<string>dIsign.kha</string>
		<string>dIsignAnusvara</string>
		<string>dIsignAnusvara.alt1</string>
		<string>dIsignAnusvara.alt2</string>
		<string>dIsignAnusvara.alt3</string>
		<string>dIsignAnusvara.alt4</string>
		<string>dIsignAnusvara.alt5</string>
		<string>dIsignAnusvara.alt6</string>
		<string>dIsignAnusvara.alt7</string>
		<string>dIsignAnusvara.alt8</string>
		<string>dIsignAnusvara.ja</string>
		<string>dIsignAnusvara.tha</string>
		<string>dIsignAnusvara.kha</string>
		<string>dIsignReph</string>
		<string>dIsignReph.alt1</string>
		<string>dIsignReph.alt2</string>
		<string>dIsignReph.alt3</string>
		<string>dIsignReph.alt4</string>
		<string>dIsignReph.alt5</string>
		<string>dIsignReph.alt6</string>
		<string>dIsignReph.alt7</string>
		<string>dIsignReph.alt8</string>
		<string>dIsignReph.ja</string>
		<string>dIsignReph.tha</string>
		<string>dIsignReph.kha</string>
		<string>dIsignRephAnusvara</string>
		<string>dIsignRephAnusvara.alt1</string>
		<string>dIsignRephAnusvara.alt2</string>
		<string>dIsignRephAnusvara.alt3</string>
		<string>dIsignRephAnusvara.alt4</string>
		<string>dIsignRephAnusvara.alt5</string>
		<string>dIsignRephAnusvara.alt6</string>
		<string>dIsignRephAnusvara.alt7</string>
		<string>dIsignRephAnusvara.alt8</string>
		<string>dIsignRephAnusvara.ja</string>
		<string>dIsignRephAnusvara.tha</string>
		<string>dIsignRephAnusvara.kha</string>
		<string>dIisign.alt1</string>
		<string>dIisignAnusvara</string>
		<string>dIisignAnusvara.alt1</string>
		<string>dIisignReph</string>
		<string>dIisignReph.alt1</string>
		<string>dIisignRephAnusvara</string>
		<string>dIisignRephAnusvara.alt1</string>
		<string>dUsign.alt</string>
		<string>dUsign.alt2</string>
		<string>dEsignAnusvara</string>
		<string>dEsignReph.alt1</string>
		<string>dEsignRephAnusvara</string>
		<string>dAisignAnusvara</string>
		<string>dAisignReph.alt1</string>
		<string>dAisignRephAnusvara</string>
		<string>dOsignAnusvara</string>
		<string>dOsignReph.alt1</string>
		<string>dOsignRephAnusvara</string>
		<string>dAusignAnusvara</string>
		<string>dAusignReph.alt1</string>
		<string>dAusignRephAnusvara</string>
		<string>dRakar</string>
		<string>dRakar.alt</string>
		<string>dReph</string>
		<string>dRephAnusvara</string>
		<string>dReph.alt</string>
		<string>dVattuUlow</string>
		<string>dVattuUulow</string>
		<string>dRaUsign</string>
		<string>dRaUusign</string>
		<string>dHaRvocalicsign</string>
		<string>dDaRvocalicsign</string>
		<string>dShaRvocalicsign</string>
		<string>dKa.half</string>
		<string>dKha.half</string>
		<string>dGa.half</string>
		<string>dGha.half</string>
		<string>dNga.half</string>
		<string>dCa.half</string>
		<string>dCha.half</string>
		<string>dJa.half</string>
		<string>dJha.half</string>
		<string>dNya.half</string>
		<string>dTta.half</string>
		<string>dTtha.half</string>
		<string>dDda.half</string>
		<string>dDdha.half</string>
		<string>dNna.half</string>
		<string>dTa.half</string>
		<string>dTha.half</string>
		<string>dDa.half</string>
		<string>dDha.half</string>
		<string>dNa.half</string>
		<string>dNnna.half</string>
		<string>dPa.half</string>
		<string>dPha.half</string>
		<string>dBa.half</string>
		<string>dBha.half</string>
		<string>dMa.half</string>
		<string>dYa.half</string>
		<string>dLa.half</string>
		<string>dLla.half</string>
		<string>dLlla.half</string>
		<string>dVa.half</string>
		<string>dSha.half</string>
		<string>dSsa.half</string>
		<string>dSa.half</string>
		<string>dHa.half</string>
		<string>dQa.half</string>
		<string>dKhha.half</string>
		<string>dGhha.half</string>
		<string>dZa.half</string>
		<string>dFa.half</string>
		<string>dSha.half.alt</string>
		<string>dJha.half.nep</string>
		<string>dBRa.half</string>
		<string>dTRa.half</string>
		<string>dKSsa.half</string>
		<string>dJNya.half</string>
		<string>dTTa.half</string>
		<string>dNBha.half</string>
		<string>dNSa.half</string>
		<string>dMBha.half</string>
		<string>dLBha.half</string>
		<string>dJJa.half</string>
		<string>dKSsMa.half</string>
		<string>dKRa</string>
		<string>dKhRa</string>
		<string>dGRa</string>
		<string>dGhRa</string>
		<string>dCRa</string>
		<string>dJRa</string>
		<string>dJhRa</string>
		<string>dNyRa</string>
		<string>dNnRa</string>
		<string>dTRa</string>
		<string>dThRa</string>
		<string>dDRa</string>
		<string>dDhRa</string>
		<string>dNRa</string>
		<string>dPRa</string>
		<string>dPhRa</string>
		<string>dBRa</string>
		<string>dBhRa</string>
		<string>dMRa</string>
		<string>dYRa</string>
		<string>dLRa</string>
		<string>dVRa</string>
		<string>dShRa</string>
		<string>dSsRa</string>
		<string>dSRa</string>
		<string>dHRa</string>
		<string>dKRa.nep</string>
		<string>dKSsRa</string>
		<string>dJNyRa</string>
		<string>dJNya</string>
		<string>dNgKa</string>
		<string>dNgKha</string>
		<string>dNgGa</string>
		<string>dNgGha</string>
		<string>dNgMa</string>
		<string>dTtTta</string>
		<string>dTtTtha</string>
		<string>dTtVa</string>
		<string>dTthTtha</string>
		<string>dDdDda</string>
		<string>dDdDdha</string>
		<string>dDdYa</string>
		<string>dDdhYa</string>
		<string>dDdhDdha</string>
		<string>dDGa</string>
		<string>dDGha</string>
		<string>dDDa</string>
		<string>dDDha</string>
		<string>dDNa</string>
		<string>dDBa</string>
		<string>dDBha</string>
		<string>dDMa</string>
		<string>dDYa</string>
		<string>dDVa</string>
		<string>dNgKSsa</string>
		<string>dKKha</string>
		<string>dKCa</string>
		<string>dKJa</string>
		<string>dKTta</string>
		<string>dKNna</string>
		<string>dKTha</string>
		<string>dKDa</string>
		<string>dKNa</string>
		<string>dKPa</string>
		<string>dKPha</string>
		<string>dKMa</string>
		<string>dKYa</string>
		<string>dKSha</string>
		<string>dKSa</string>
		<string>dKTa</string>
		<string>dKLa</string>
		<string>dKSsa</string>
		<string>dKKa</string>
		<string>dKVa</string>
		<string>dKhKha</string>
		<string>dKhTa</string>
		<string>dKhMa</string>
		<string>dKhYa</string>
		<string>dKhVa</string>
		<string>dKhSha</string>
		<string>dKhNa</string>
		<string>dGGa</string>
		<string>dGGha</string>
		<string>dGJa</string>
		<string>dGNna</string>
		<string>dGDa</string>
		<string>dGDha</string>
		<string>dGBa</string>
		<string>dGBha</string>
		<string>dGMa</string>
		<string>dGYa</string>
		<string>dGLa</string>
		<string>dGVa</string>
		<string>dGSa</string>
		<string>dGNa</string>
		<string>dGhNa</string>
		<string>dGhMa</string>
		<string>dGhYa</string>
		<string>dCCa</string>
		<string>dCCha</string>
		<string>dCNa</string>
		<string>dCMa</string>
		<string>dCYa</string>
		<string>dChVa</string>
		<string>dJJa</string>
		<string>dJKa</string>
		<string>dJJha</string>
		<string>dJTta</string>
		<string>dJDda</string>
		<string>dJTa</string>
		<string>dJDa</string>
		<string>dJBa</string>
		<string>dJMa</string>
		<string>dJYa</string>
		<string>dJVa</string>
		<string>dJNa</string>
		<string>dJhNa</string>
		<string>dJhMa</string>
		<string>dJhYa</string>
		<string>dNyCha</string>
		<string>dNySha</string>
		<string>dNyCa</string>
		<string>dNyJa</string>
		<string>dNnTta</string>
		<string>dNnTha</string>
		<string>dNnDda</string>
		<string>dNnDdha</string>
		<string>dNnNna</string>
		<string>dNnMa</string>
		<string>dNnYa</string>
		<string>dNnVa</string>
		<string>dTKa</string>
		<string>dTKha</string>
		<string>dTTha</string>
		<string>dTPa</string>
		<string>dTPha</string>
		<string>dTMa</string>
		<string>dTYa</string>
		<string>dTLa</string>
		<string>dTVa</string>
		<string>dTSa</string>
		<string>dTTa</string>
		<string>dTNa</string>
		<string>dThYa</string>
		<string>dThVa</string>
		<string>dTtYa</string>
		<string>dTthYa</string>
		<string>dDhMa</string>
		<string>dDhYa</string>
		<string>dDhVa</string>
		<string>dDhNa</string>
		<string>dNKa</string>
		<string>dNCa</string>
		<string>dNTta</string>
		<string>dNDda</string>
		<string>dNTa</string>
		<string>dNYa</string>
		<string>dNDa</string>
		<string>dNDha</string>
		<string>dNPa</string>
		<string>dNPha</string>
		<string>dNBha</string>
		<string>dNMa</string>
		<string>dNVa</string>
		<string>dNSa</string>
		<string>dNHa</string>
		<string>dNNa</string>
		<string>dNTha</string>
		<string>dPTa</string>
		<string>dPPa</string>
		<string>dPPha</string>
		<string>dPMa</string>
		<string>dPYa</string>
		<string>dPLa</string>
		<string>dPVa</string>
		<string>dPSa</string>
		<string>dPTta</string>
		<string>dPNa</string>
		<string>dPhJa</string>
		<string>dPhTta</string>
		<string>dPhTa</string>
		<string>dPhPa</string>
		<string>dPhPha</string>
		<string>dPhYa</string>
		<string>dPhLa</string>
		<string>dPhSha</string>
		<string>dBJa</string>
		<string>dBTa</string>
		<string>dBDa</string>
		<string>dBDha</string>
		<string>dBBa</string>
		<string>dBBha</string>
		<string>dBYa</string>
		<string>dBLa</string>
		<string>dBVa</string>
		<string>dBSha</string>
		<string>dBSa</string>
		<string>dBZa</string>
		<string>dBNa</string>
		<string>dBhYa</string>
		<string>dBhVa</string>
		<string>dMTa</string>
		<string>dMDa</string>
		<string>dMPa</string>
		<string>dMBa</string>
		<string>dMBha</string>
		<string>dMMa</string>
		<string>dMYa</string>
		<string>dMLa</string>
		<string>dMVa</string>
		<string>dMSha</string>
		<string>dMSa</string>
		<string>dMHa</string>
		<string>dMNa</string>
		<string>dYYa</string>
		<string>dLKa</string>
		<string>dLKha</string>
		<string>dLGa</string>
		<string>dLJa</string>
		<string>dLTta</string>
		<string>dLTtha</string>
		<string>dLDda</string>
		<string>dLDdha</string>
		<string>dLTa</string>
		<string>dLTha</string>
		<string>dLDa</string>
		<string>dLPa</string>
		<string>dLPha</string>
		<string>dLBa</string>
		<string>dLBha</string>
		<string>dLMa</string>
		<string>dLYa</string>
		<string>dLLa</string>
		<string>dLLa.mar</string>
		<string>dLVa</string>
		<string>dLSa</string>
		<string>dLHa</string>
		<string>dLZa</string>
		<string>dLlYa</string>
		<string>dVYa</string>
		<string>dVLa</string>
		<string>dVVa</string>
		<string>dVHa</string>
		<string>dShKa</string>
		<string>dShCha</string>
		<string>dShTta</string>
		<string>dShTa</string>
		<string>dShMa</string>
		<string>dShYa</string>
		<string>dShLa</string>
		<string>dShSha</string>
		<string>dShQa</string>
		<string>dShCa</string>
		<string>dShNa</string>
		<string>dShVa</string>
		<string>dSsNna</string>
		<string>dSsPa</string>
		<string>dSsPha</string>
		<string>dSsMa</string>
		<string>dSsYa</string>
		<string>dSsVa</string>
		<string>dSsSsa</string>
		<string>dSsTta</string>
		<string>dSsTtha</string>
		<string>dSKa</string>
		<string>dSKha</string>
		<string>dSJa</string>
		<string>dSTta</string>
		<string>dSTa</string>
		<string>dSTha</string>
		<string>dSDa</string>
		<string>dSPa</string>
		<string>dSPha</string>
		<string>dSBa</string>
		<string>dSMa</string>
		<string>dSYa</string>
		<string>dSLa</string>
		<string>dSVa</string>
		<string>dSSa</string>
		<string>dSNa</string>
		<string>dHNna</string>
		<string>dHNa</string>
		<string>dHMa</string>
		<string>dHYa</string>
		<string>dHLa</string>
		<string>dHVa</string>
		<string>dQTa</string>
		<string>dQPha</string>
		<string>dQBa</string>
		<string>dQMa</string>
		<string>dQQa</string>
		<string>dQFa</string>
		<string>dKhhTa</string>
		<string>dKhhMa</string>
		<string>dKhhYa</string>
		<string>dKhhVa</string>
		<string>dKhhSha</string>
		<string>dKhhSa</string>
		<string>dZYa</string>
		<string>dZZa</string>
		<string>dFTa</string>
		<string>dFSa</string>
		<string>dFZa</string>
		<string>dFFa</string>
		<string>dKTYa</string>
		<string>dKTRa</string>
		<string>dKTVa</string>
		<string>dKPRa</string>
		<string>dKVYa</string>
		<string>dKSsMa</string>
		<string>dKSsYa</string>
		<string>dKSsVa</string>
		<string>dKSTta</string>
		<string>dKSDda</string>
		<string>dKSTa</string>
		<string>dGDhYa</string>
		<string>dGDhVa</string>
		<string>dGNYa</string>
		<string>dGBhYa</string>
		<string>dCChVa</string>
		<string>dJJNya</string>
		<string>dJJYa</string>
		<string>dJJVa</string>
		<string>dJNyYa</string>
		<string>dNyCYa</string>
		<string>dNyJYa</string>
		<string>dTKYa</string>
		<string>dTKRa</string>
		<string>dTKVa</string>
		<string>dTKSsa</string>
		<string>dTKhNa</string>
		<string>dTKhRa</string>
		<string>dTTYa</string>
		<string>dTTVa</string>
		<string>dTNYa</string>
		<string>dTPRa</string>
		<string>dTPLa</string>
		<string>dTMYa</string>
		<string>dTRYa</string>
		<string>dTSNa</string>
		<string>dTSYa</string>
		<string>dTSVa</string>
		<string>dDhNYa</string>
		<string>dNKSa</string>
		<string>dNTYa</string>
		<string>dNTRa</string>
		<string>dNTSa</string>
		<string>dNThYa</string>
		<string>dNThVa</string>
		<string>dNDRa</string>
		<string>dNDVa</string>
		<string>dNDhYa</string>
		<string>dNDhRa</string>
		<string>dNDhVa</string>
		<string>dNNYa</string>
		<string>dNPRa</string>
		<string>dNMYa</string>
		<string>dNSTta</string>
		<string>dNHYa</string>
		<string>dPTYa</string>
		<string>dBJYa</string>
		<string>dBDhVa</string>
		<string>dBBhRa</string>
		<string>dBLYa</string>
		<string>dMPRa</string>
		<string>dMBYa</string>
		<string>dMBRa</string>
		<string>dMBhRa</string>
		<string>dLKYa</string>
		<string>dLThYa</string>
		<string>dLDRa</string>
		<string>dLLYa</string>
		<string>dLVDda</string>
		<string>dLHYa</string>
		<string>dSsKRa</string>
		<string>dSsNnYa</string>
		<string>dSsPRa</string>
		<string>dSsMYa</string>
		<string>dSKRa</string>
		<string>dSKVa</string>
		<string>dSTYa</string>
		<string>dSTRa</string>
		<string>dSTVa</string>
		<string>dSThYa</string>
		<string>dSPRa</string>
		<string>dSMYa</string>
		<string>dDDhRYa</string>
		<string>dKSPRa</string>
		<string>dKSPLa</string>
	</array>
</dict>
</plist>
