<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>dA</key>
	<string>dA_.glif</string>
	<key>dAa</key>
	<string>dA_a.glif</string>
	<key>dAasign</key>
	<string>dA_asign.glif</string>
	<key>dAbbsign</key>
	<string>dA_bbsign.glif</string>
	<key>dAcandra</key>
	<string>dA_candra.glif</string>
	<key>dAcombiningletter</key>
	<string>dA_combiningletter.glif</string>
	<key>dAcute</key>
	<string>dA_cute.glif</string>
	<key>dAi</key>
	<string>dA_i.glif</string>
	<key>dAisign</key>
	<string>dA_isign.glif</string>
	<key>dAisignAnusvara</key>
	<string>dA_isignA_nusvara.glif</string>
	<key>dAisignReph.alt1</key>
	<string>dA_isignR_eph.alt1.glif</string>
	<key>dAisignRephAnusvara</key>
	<string>dA_isignR_ephA_nusvara.glif</string>
	<key>dAnudatta</key>
	<string>dA_nudatta.glif</string>
	<key>dAnusvara</key>
	<string>dA_nusvara.glif</string>
	<key>dAshort</key>
	<string>dA_short.glif</string>
	<key>dAu</key>
	<string>dA_u.glif</string>
	<key>dAusign</key>
	<string>dA_usign.glif</string>
	<key>dAusignAnusvara</key>
	<string>dA_usignA_nusvara.glif</string>
	<key>dAusignReph.alt1</key>
	<string>dA_usignR_eph.alt1.glif</string>
	<key>dAusignRephAnusvara</key>
	<string>dA_usignR_ephA_nusvara.glif</string>
	<key>dAvagraha</key>
	<string>dA_vagraha.glif</string>
	<key>dAvagrahacombiningsign</key>
	<string>dA_vagrahacombiningsign.glif</string>
	<key>dAw</key>
	<string>dA_w.glif</string>
	<key>dAwsign</key>
	<string>dA_wsign.glif</string>
	<key>dBBa</key>
	<string>dB_B_a.glif</string>
	<key>dBBhRa</key>
	<string>dB_B_hR_a.glif</string>
	<key>dBBha</key>
	<string>dB_B_ha.glif</string>
	<key>dBDa</key>
	<string>dB_D_a.glif</string>
	<key>dBDhVa</key>
	<string>dB_D_hV_a.glif</string>
	<key>dBDha</key>
	<string>dB_D_ha.glif</string>
	<key>dBJYa</key>
	<string>dB_J_Y_a.glif</string>
	<key>dBJa</key>
	<string>dB_J_a.glif</string>
	<key>dBLYa</key>
	<string>dB_L_Y_a.glif</string>
	<key>dBLa</key>
	<string>dB_L_a.glif</string>
	<key>dBNa</key>
	<string>dB_N_a.glif</string>
	<key>dBRa</key>
	<string>dB_R_a.glif</string>
	<key>dBRa.half</key>
	<string>dB_R_a.half.glif</string>
	<key>dBSa</key>
	<string>dB_S_a.glif</string>
	<key>dBSha</key>
	<string>dB_S_ha.glif</string>
	<key>dBTa</key>
	<string>dB_T_a.glif</string>
	<key>dBVa</key>
	<string>dB_V_a.glif</string>
	<key>dBYa</key>
	<string>dB_Y_a.glif</string>
	<key>dBZa</key>
	<string>dB_Z_a.glif</string>
	<key>dBa</key>
	<string>dB_a.glif</string>
	<key>dBa.half</key>
	<string>dB_a.half.glif</string>
	<key>dBba</key>
	<string>dB_ba.glif</string>
	<key>dBhRa</key>
	<string>dB_hR_a.glif</string>
	<key>dBhVa</key>
	<string>dB_hV_a.glif</string>
	<key>dBhYa</key>
	<string>dB_hY_a.glif</string>
	<key>dBha</key>
	<string>dB_ha.glif</string>
	<key>dBha.half</key>
	<string>dB_ha.half.glif</string>
	<key>dCCa</key>
	<string>dC_C_a.glif</string>
	<key>dCChVa</key>
	<string>dC_C_hV_a.glif</string>
	<key>dCCha</key>
	<string>dC_C_ha.glif</string>
	<key>dCMa</key>
	<string>dC_M_a.glif</string>
	<key>dCNa</key>
	<string>dC_N_a.glif</string>
	<key>dCRa</key>
	<string>dC_R_a.glif</string>
	<key>dCYa</key>
	<string>dC_Y_a.glif</string>
	<key>dCa</key>
	<string>dC_a.glif</string>
	<key>dCa.half</key>
	<string>dC_a.half.glif</string>
	<key>dCandraBindu</key>
	<string>dC_andraB_indu.glif</string>
	<key>dCandraBinduInverted</key>
	<string>dC_andraB_induI_nverted.glif</string>
	<key>dCandrabinduavagraha</key>
	<string>dC_andrabinduavagraha.glif</string>
	<key>dCandrabindudigitthree</key>
	<string>dC_andrabindudigitthree.glif</string>
	<key>dCandrabindudigittwo</key>
	<string>dC_andrabindudigittwo.glif</string>
	<key>dCandrabinduvirama</key>
	<string>dC_andrabinduvirama.glif</string>
	<key>dCaret</key>
	<string>dC_aret.glif</string>
	<key>dChVa</key>
	<string>dC_hV_a.glif</string>
	<key>dCha</key>
	<string>dC_ha.glif</string>
	<key>dCha.half</key>
	<string>dC_ha.half.glif</string>
	<key>dDBa</key>
	<string>dD_B_a.glif</string>
	<key>dDBha</key>
	<string>dD_B_ha.glif</string>
	<key>dDDa</key>
	<string>dD_D_a.glif</string>
	<key>dDDhRYa</key>
	<string>dD_D_hR_Y_a.glif</string>
	<key>dDDha</key>
	<string>dD_D_ha.glif</string>
	<key>dDGa</key>
	<string>dD_G_a.glif</string>
	<key>dDGha</key>
	<string>dD_G_ha.glif</string>
	<key>dDMa</key>
	<string>dD_M_a.glif</string>
	<key>dDNa</key>
	<string>dD_N_a.glif</string>
	<key>dDRa</key>
	<string>dD_R_a.glif</string>
	<key>dDVa</key>
	<string>dD_V_a.glif</string>
	<key>dDYa</key>
	<string>dD_Y_a.glif</string>
	<key>dDa</key>
	<string>dD_a.glif</string>
	<key>dDa.half</key>
	<string>dD_a.half.glif</string>
	<key>dDaRvocalicsign</key>
	<string>dD_aR_vocalicsign.glif</string>
	<key>dDanda</key>
	<string>dD_anda.glif</string>
	<key>dDbldanda</key>
	<string>dD_bldanda.glif</string>
	<key>dDdDda</key>
	<string>dD_dD_da.glif</string>
	<key>dDdDdha</key>
	<string>dD_dD_dha.glif</string>
	<key>dDdYa</key>
	<string>dD_dY_a.glif</string>
	<key>dDda</key>
	<string>dD_da.glif</string>
	<key>dDda.half</key>
	<string>dD_da.half.glif</string>
	<key>dDdda</key>
	<string>dD_dda.glif</string>
	<key>dDddha</key>
	<string>dD_ddha.glif</string>
	<key>dDdhDdha</key>
	<string>dD_dhD_dha.glif</string>
	<key>dDdhYa</key>
	<string>dD_dhY_a.glif</string>
	<key>dDdha</key>
	<string>dD_dha.glif</string>
	<key>dDdha.half</key>
	<string>dD_dha.half.glif</string>
	<key>dDhMa</key>
	<string>dD_hM_a.glif</string>
	<key>dDhNYa</key>
	<string>dD_hN_Y_a.glif</string>
	<key>dDhNa</key>
	<string>dD_hN_a.glif</string>
	<key>dDhRa</key>
	<string>dD_hR_a.glif</string>
	<key>dDhVa</key>
	<string>dD_hV_a.glif</string>
	<key>dDhYa</key>
	<string>dD_hY_a.glif</string>
	<key>dDha</key>
	<string>dD_ha.glif</string>
	<key>dDha.half</key>
	<string>dD_ha.half.glif</string>
	<key>dDoublecandrabinduvirama</key>
	<string>dD_oublecandrabinduvirama.glif</string>
	<key>dE</key>
	<string>dE_.glif</string>
	<key>dEcandra</key>
	<string>dE_candra.glif</string>
	<key>dEcandralongsign</key>
	<string>dE_candralongsign.glif</string>
	<key>dEcandrasign</key>
	<string>dE_candrasign.glif</string>
	<key>dEight</key>
	<string>dE_ight.glif</string>
	<key>dEight.nep</key>
	<string>dE_ight.nep.glif</string>
	<key>dEightcombiningdigit</key>
	<string>dE_ightcombiningdigit.glif</string>
	<key>dEprishthamatrasign</key>
	<string>dE_prishthamatrasign.glif</string>
	<key>dEshort</key>
	<string>dE_short.glif</string>
	<key>dEshortsign</key>
	<string>dE_shortsign.glif</string>
	<key>dEsign</key>
	<string>dE_sign.glif</string>
	<key>dEsignAnusvara</key>
	<string>dE_signA_nusvara.glif</string>
	<key>dEsignReph.alt1</key>
	<string>dE_signR_eph.alt1.glif</string>
	<key>dEsignRephAnusvara</key>
	<string>dE_signR_ephA_nusvara.glif</string>
	<key>dFFa</key>
	<string>dF_F_a.glif</string>
	<key>dFSa</key>
	<string>dF_S_a.glif</string>
	<key>dFTa</key>
	<string>dF_T_a.glif</string>
	<key>dFZa</key>
	<string>dF_Z_a.glif</string>
	<key>dFa</key>
	<string>dF_a.glif</string>
	<key>dFa.half</key>
	<string>dF_a.half.glif</string>
	<key>dFive</key>
	<string>dF_ive.glif</string>
	<key>dFive.nep</key>
	<string>dF_ive.nep.glif</string>
	<key>dFivecombiningdigit</key>
	<string>dF_ivecombiningdigit.glif</string>
	<key>dFour</key>
	<string>dF_our.glif</string>
	<key>dFourcombiningdigit</key>
	<string>dF_ourcombiningdigit.glif</string>
	<key>dGBa</key>
	<string>dG_B_a.glif</string>
	<key>dGBhYa</key>
	<string>dG_B_hY_a.glif</string>
	<key>dGBha</key>
	<string>dG_B_ha.glif</string>
	<key>dGDa</key>
	<string>dG_D_a.glif</string>
	<key>dGDhVa</key>
	<string>dG_D_hV_a.glif</string>
	<key>dGDhYa</key>
	<string>dG_D_hY_a.glif</string>
	<key>dGDha</key>
	<string>dG_D_ha.glif</string>
	<key>dGGa</key>
	<string>dG_G_a.glif</string>
	<key>dGGha</key>
	<string>dG_G_ha.glif</string>
	<key>dGJa</key>
	<string>dG_J_a.glif</string>
	<key>dGLa</key>
	<string>dG_L_a.glif</string>
	<key>dGMa</key>
	<string>dG_M_a.glif</string>
	<key>dGNYa</key>
	<string>dG_N_Y_a.glif</string>
	<key>dGNa</key>
	<string>dG_N_a.glif</string>
	<key>dGNna</key>
	<string>dG_N_na.glif</string>
	<key>dGRa</key>
	<string>dG_R_a.glif</string>
	<key>dGSa</key>
	<string>dG_S_a.glif</string>
	<key>dGVa</key>
	<string>dG_V_a.glif</string>
	<key>dGYa</key>
	<string>dG_Y_a.glif</string>
	<key>dGa</key>
	<string>dG_a.glif</string>
	<key>dGa.half</key>
	<string>dG_a.half.glif</string>
	<key>dGapfiller</key>
	<string>dG_apfiller.glif</string>
	<key>dGga</key>
	<string>dG_ga.glif</string>
	<key>dGhMa</key>
	<string>dG_hM_a.glif</string>
	<key>dGhNa</key>
	<string>dG_hN_a.glif</string>
	<key>dGhRa</key>
	<string>dG_hR_a.glif</string>
	<key>dGhYa</key>
	<string>dG_hY_a.glif</string>
	<key>dGha</key>
	<string>dG_ha.glif</string>
	<key>dGha.half</key>
	<string>dG_ha.half.glif</string>
	<key>dGhha</key>
	<string>dG_hha.glif</string>
	<key>dGhha.half</key>
	<string>dG_hha.half.glif</string>
	<key>dGlottalstop</key>
	<string>dG_lottalstop.glif</string>
	<key>dGrave</key>
	<string>dG_rave.glif</string>
	<key>dHLa</key>
	<string>dH_L_a.glif</string>
	<key>dHMa</key>
	<string>dH_M_a.glif</string>
	<key>dHNa</key>
	<string>dH_N_a.glif</string>
	<key>dHNna</key>
	<string>dH_N_na.glif</string>
	<key>dHRa</key>
	<string>dH_R_a.glif</string>
	<key>dHVa</key>
	<string>dH_V_a.glif</string>
	<key>dHYa</key>
	<string>dH_Y_a.glif</string>
	<key>dHa</key>
	<string>dH_a.glif</string>
	<key>dHa.half</key>
	<string>dH_a.half.glif</string>
	<key>dHaRvocalicsign</key>
	<string>dH_aR_vocalicsign.glif</string>
	<key>dHeadstroke</key>
	<string>dH_eadstroke.glif</string>
	<key>dHighspacingdot</key>
	<string>dH_ighspacingdot.glif</string>
	<key>dI</key>
	<string>dI_.glif</string>
	<key>dIi</key>
	<string>dI_i.glif</string>
	<key>dIisign</key>
	<string>dI_isign.glif</string>
	<key>dIisign.alt1</key>
	<string>dI_isign.alt1.glif</string>
	<key>dIisignAnusvara</key>
	<string>dI_isignA_nusvara.glif</string>
	<key>dIisignAnusvara.alt1</key>
	<string>dI_isignA_nusvara.alt1.glif</string>
	<key>dIisignReph</key>
	<string>dI_isignR_eph.glif</string>
	<key>dIisignReph.alt1</key>
	<string>dI_isignR_eph.alt1.glif</string>
	<key>dIisignRephAnusvara</key>
	<string>dI_isignR_ephA_nusvara.glif</string>
	<key>dIisignRephAnusvara.alt1</key>
	<string>dI_isignR_ephA_nusvara.alt1.glif</string>
	<key>dIsign</key>
	<string>dI_sign.glif</string>
	<key>dIsign.alt1</key>
	<string>dI_sign.alt1.glif</string>
	<key>dIsign.alt2</key>
	<string>dI_sign.alt2.glif</string>
	<key>dIsign.alt3</key>
	<string>dI_sign.alt3.glif</string>
	<key>dIsign.alt4</key>
	<string>dI_sign.alt4.glif</string>
	<key>dIsign.alt5</key>
	<string>dI_sign.alt5.glif</string>
	<key>dIsign.alt6</key>
	<string>dI_sign.alt6.glif</string>
	<key>dIsign.alt7</key>
	<string>dI_sign.alt7.glif</string>
	<key>dIsign.alt8</key>
	<string>dI_sign.alt8.glif</string>
	<key>dIsign.ja</key>
	<string>dI_sign.ja.glif</string>
	<key>dIsign.kha</key>
	<string>dI_sign.kha.glif</string>
	<key>dIsign.tha</key>
	<string>dI_sign.tha.glif</string>
	<key>dIsignAnusvara</key>
	<string>dI_signA_nusvara.glif</string>
	<key>dIsignAnusvara.alt1</key>
	<string>dI_signA_nusvara.alt1.glif</string>
	<key>dIsignAnusvara.alt2</key>
	<string>dI_signA_nusvara.alt2.glif</string>
	<key>dIsignAnusvara.alt3</key>
	<string>dI_signA_nusvara.alt3.glif</string>
	<key>dIsignAnusvara.alt4</key>
	<string>dI_signA_nusvara.alt4.glif</string>
	<key>dIsignAnusvara.alt5</key>
	<string>dI_signA_nusvara.alt5.glif</string>
	<key>dIsignAnusvara.alt6</key>
	<string>dI_signA_nusvara.alt6.glif</string>
	<key>dIsignAnusvara.alt7</key>
	<string>dI_signA_nusvara.alt7.glif</string>
	<key>dIsignAnusvara.alt8</key>
	<string>dI_signA_nusvara.alt8.glif</string>
	<key>dIsignAnusvara.ja</key>
	<string>dI_signA_nusvara.ja.glif</string>
	<key>dIsignAnusvara.kha</key>
	<string>dI_signA_nusvara.kha.glif</string>
	<key>dIsignAnusvara.tha</key>
	<string>dI_signA_nusvara.tha.glif</string>
	<key>dIsignReph</key>
	<string>dI_signR_eph.glif</string>
	<key>dIsignReph.alt1</key>
	<string>dI_signR_eph.alt1.glif</string>
	<key>dIsignReph.alt2</key>
	<string>dI_signR_eph.alt2.glif</string>
	<key>dIsignReph.alt3</key>
	<string>dI_signR_eph.alt3.glif</string>
	<key>dIsignReph.alt4</key>
	<string>dI_signR_eph.alt4.glif</string>
	<key>dIsignReph.alt5</key>
	<string>dI_signR_eph.alt5.glif</string>
	<key>dIsignReph.alt6</key>
	<string>dI_signR_eph.alt6.glif</string>
	<key>dIsignReph.alt7</key>
	<string>dI_signR_eph.alt7.glif</string>
	<key>dIsignReph.alt8</key>
	<string>dI_signR_eph.alt8.glif</string>
	<key>dIsignReph.ja</key>
	<string>dI_signR_eph.ja.glif</string>
	<key>dIsignReph.kha</key>
	<string>dI_signR_eph.kha.glif</string>
	<key>dIsignReph.tha</key>
	<string>dI_signR_eph.tha.glif</string>
	<key>dIsignRephAnusvara</key>
	<string>dI_signR_ephA_nusvara.glif</string>
	<key>dIsignRephAnusvara.alt1</key>
	<string>dI_signR_ephA_nusvara.alt1.glif</string>
	<key>dIsignRephAnusvara.alt2</key>
	<string>dI_signR_ephA_nusvara.alt2.glif</string>
	<key>dIsignRephAnusvara.alt3</key>
	<string>dI_signR_ephA_nusvara.alt3.glif</string>
	<key>dIsignRephAnusvara.alt4</key>
	<string>dI_signR_ephA_nusvara.alt4.glif</string>
	<key>dIsignRephAnusvara.alt5</key>
	<string>dI_signR_ephA_nusvara.alt5.glif</string>
	<key>dIsignRephAnusvara.alt6</key>
	<string>dI_signR_ephA_nusvara.alt6.glif</string>
	<key>dIsignRephAnusvara.alt7</key>
	<string>dI_signR_ephA_nusvara.alt7.glif</string>
	<key>dIsignRephAnusvara.alt8</key>
	<string>dI_signR_ephA_nusvara.alt8.glif</string>
	<key>dIsignRephAnusvara.ja</key>
	<string>dI_signR_ephA_nusvara.ja.glif</string>
	<key>dIsignRephAnusvara.kha</key>
	<string>dI_signR_ephA_nusvara.kha.glif</string>
	<key>dIsignRephAnusvara.tha</key>
	<string>dI_signR_ephA_nusvara.tha.glif</string>
	<key>dJBa</key>
	<string>dJ_B_a.glif</string>
	<key>dJDa</key>
	<string>dJ_D_a.glif</string>
	<key>dJDda</key>
	<string>dJ_D_da.glif</string>
	<key>dJJNya</key>
	<string>dJ_J_N_ya.glif</string>
	<key>dJJVa</key>
	<string>dJ_J_V_a.glif</string>
	<key>dJJYa</key>
	<string>dJ_J_Y_a.glif</string>
	<key>dJJa</key>
	<string>dJ_J_a.glif</string>
	<key>dJJa.half</key>
	<string>dJ_J_a.half.glif</string>
	<key>dJJha</key>
	<string>dJ_J_ha.glif</string>
	<key>dJKa</key>
	<string>dJ_K_a.glif</string>
	<key>dJMa</key>
	<string>dJ_M_a.glif</string>
	<key>dJNa</key>
	<string>dJ_N_a.glif</string>
	<key>dJNyRa</key>
	<string>dJ_N_yR_a.glif</string>
	<key>dJNyYa</key>
	<string>dJ_N_yY_a.glif</string>
	<key>dJNya</key>
	<string>dJ_N_ya.glif</string>
	<key>dJNya.half</key>
	<string>dJ_N_ya.half.glif</string>
	<key>dJRa</key>
	<string>dJ_R_a.glif</string>
	<key>dJTa</key>
	<string>dJ_T_a.glif</string>
	<key>dJTta</key>
	<string>dJ_T_ta.glif</string>
	<key>dJVa</key>
	<string>dJ_V_a.glif</string>
	<key>dJYa</key>
	<string>dJ_Y_a.glif</string>
	<key>dJa</key>
	<string>dJ_a.glif</string>
	<key>dJa.half</key>
	<string>dJ_a.half.glif</string>
	<key>dJhMa</key>
	<string>dJ_hM_a.glif</string>
	<key>dJhNa</key>
	<string>dJ_hN_a.glif</string>
	<key>dJhRa</key>
	<string>dJ_hR_a.glif</string>
	<key>dJhYa</key>
	<string>dJ_hY_a.glif</string>
	<key>dJha</key>
	<string>dJ_ha.glif</string>
	<key>dJha.half</key>
	<string>dJ_ha.half.glif</string>
	<key>dJha.half.nep</key>
	<string>dJ_ha.half.nep.glif</string>
	<key>dJha.nep</key>
	<string>dJ_ha.nep.glif</string>
	<key>dJja</key>
	<string>dJ_ja.glif</string>
	<key>dKCa</key>
	<string>dK_C_a.glif</string>
	<key>dKDa</key>
	<string>dK_D_a.glif</string>
	<key>dKJa</key>
	<string>dK_J_a.glif</string>
	<key>dKKa</key>
	<string>dK_K_a.glif</string>
	<key>dKKha</key>
	<string>dK_K_ha.glif</string>
	<key>dKLa</key>
	<string>dK_L_a.glif</string>
	<key>dKMa</key>
	<string>dK_M_a.glif</string>
	<key>dKNa</key>
	<string>dK_N_a.glif</string>
	<key>dKNna</key>
	<string>dK_N_na.glif</string>
	<key>dKPRa</key>
	<string>dK_P_R_a.glif</string>
	<key>dKPa</key>
	<string>dK_P_a.glif</string>
	<key>dKPha</key>
	<string>dK_P_ha.glif</string>
	<key>dKRa</key>
	<string>dK_R_a.glif</string>
	<key>dKRa.nep</key>
	<string>dK_R_a.nep.glif</string>
	<key>dKSDda</key>
	<string>dK_S_D_da.glif</string>
	<key>dKSPLa</key>
	<string>dK_S_P_L_a.glif</string>
	<key>dKSPRa</key>
	<string>dK_S_P_R_a.glif</string>
	<key>dKSTa</key>
	<string>dK_S_T_a.glif</string>
	<key>dKSTta</key>
	<string>dK_S_T_ta.glif</string>
	<key>dKSa</key>
	<string>dK_S_a.glif</string>
	<key>dKSha</key>
	<string>dK_S_ha.glif</string>
	<key>dKSsMa</key>
	<string>dK_S_sM_a.glif</string>
	<key>dKSsMa.half</key>
	<string>dK_S_sM_a.half.glif</string>
	<key>dKSsRa</key>
	<string>dK_S_sR_a.glif</string>
	<key>dKSsVa</key>
	<string>dK_S_sV_a.glif</string>
	<key>dKSsYa</key>
	<string>dK_S_sY_a.glif</string>
	<key>dKSsa</key>
	<string>dK_S_sa.glif</string>
	<key>dKSsa.half</key>
	<string>dK_S_sa.half.glif</string>
	<key>dKTRa</key>
	<string>dK_T_R_a.glif</string>
	<key>dKTVa</key>
	<string>dK_T_V_a.glif</string>
	<key>dKTYa</key>
	<string>dK_T_Y_a.glif</string>
	<key>dKTa</key>
	<string>dK_T_a.glif</string>
	<key>dKTha</key>
	<string>dK_T_ha.glif</string>
	<key>dKTta</key>
	<string>dK_T_ta.glif</string>
	<key>dKVYa</key>
	<string>dK_V_Y_a.glif</string>
	<key>dKVa</key>
	<string>dK_V_a.glif</string>
	<key>dKYa</key>
	<string>dK_Y_a.glif</string>
	<key>dKa</key>
	<string>dK_a.glif</string>
	<key>dKa.half</key>
	<string>dK_a.half.glif</string>
	<key>dKacombiningletter</key>
	<string>dK_acombiningletter.glif</string>
	<key>dKhKha</key>
	<string>dK_hK_ha.glif</string>
	<key>dKhMa</key>
	<string>dK_hM_a.glif</string>
	<key>dKhNa</key>
	<string>dK_hN_a.glif</string>
	<key>dKhRa</key>
	<string>dK_hR_a.glif</string>
	<key>dKhSha</key>
	<string>dK_hS_ha.glif</string>
	<key>dKhTa</key>
	<string>dK_hT_a.glif</string>
	<key>dKhVa</key>
	<string>dK_hV_a.glif</string>
	<key>dKhYa</key>
	<string>dK_hY_a.glif</string>
	<key>dKha</key>
	<string>dK_ha.glif</string>
	<key>dKha.half</key>
	<string>dK_ha.half.glif</string>
	<key>dKhhMa</key>
	<string>dK_hhM_a.glif</string>
	<key>dKhhSa</key>
	<string>dK_hhS_a.glif</string>
	<key>dKhhSha</key>
	<string>dK_hhS_ha.glif</string>
	<key>dKhhTa</key>
	<string>dK_hhT_a.glif</string>
	<key>dKhhVa</key>
	<string>dK_hhV_a.glif</string>
	<key>dKhhYa</key>
	<string>dK_hhY_a.glif</string>
	<key>dKhha</key>
	<string>dK_hha.glif</string>
	<key>dKhha.half</key>
	<string>dK_hha.half.glif</string>
	<key>dLBa</key>
	<string>dL_B_a.glif</string>
	<key>dLBha</key>
	<string>dL_B_ha.glif</string>
	<key>dLBha.half</key>
	<string>dL_B_ha.half.glif</string>
	<key>dLDRa</key>
	<string>dL_D_R_a.glif</string>
	<key>dLDa</key>
	<string>dL_D_a.glif</string>
	<key>dLDda</key>
	<string>dL_D_da.glif</string>
	<key>dLDdha</key>
	<string>dL_D_dha.glif</string>
	<key>dLGa</key>
	<string>dL_G_a.glif</string>
	<key>dLHYa</key>
	<string>dL_H_Y_a.glif</string>
	<key>dLHa</key>
	<string>dL_H_a.glif</string>
	<key>dLJa</key>
	<string>dL_J_a.glif</string>
	<key>dLKYa</key>
	<string>dL_K_Y_a.glif</string>
	<key>dLKa</key>
	<string>dL_K_a.glif</string>
	<key>dLKha</key>
	<string>dL_K_ha.glif</string>
	<key>dLLYa</key>
	<string>dL_L_Y_a.glif</string>
	<key>dLLa</key>
	<string>dL_L_a.glif</string>
	<key>dLLa.mar</key>
	<string>dL_L_a.mar.glif</string>
	<key>dLMa</key>
	<string>dL_M_a.glif</string>
	<key>dLPa</key>
	<string>dL_P_a.glif</string>
	<key>dLPha</key>
	<string>dL_P_ha.glif</string>
	<key>dLRa</key>
	<string>dL_R_a.glif</string>
	<key>dLSa</key>
	<string>dL_S_a.glif</string>
	<key>dLTa</key>
	<string>dL_T_a.glif</string>
	<key>dLThYa</key>
	<string>dL_T_hY_a.glif</string>
	<key>dLTha</key>
	<string>dL_T_ha.glif</string>
	<key>dLTta</key>
	<string>dL_T_ta.glif</string>
	<key>dLTtha</key>
	<string>dL_T_tha.glif</string>
	<key>dLVDda</key>
	<string>dL_V_D_da.glif</string>
	<key>dLVa</key>
	<string>dL_V_a.glif</string>
	<key>dLYa</key>
	<string>dL_Y_a.glif</string>
	<key>dLZa</key>
	<string>dL_Z_a.glif</string>
	<key>dLa</key>
	<string>dL_a.glif</string>
	<key>dLa.half</key>
	<string>dL_a.half.glif</string>
	<key>dLa.mar</key>
	<string>dL_a.mar.glif</string>
	<key>dLlYa</key>
	<string>dL_lY_a.glif</string>
	<key>dLla</key>
	<string>dL_la.glif</string>
	<key>dLla.half</key>
	<string>dL_la.half.glif</string>
	<key>dLlla</key>
	<string>dL_lla.glif</string>
	<key>dLlla.half</key>
	<string>dL_lla.half.glif</string>
	<key>dLlvocalic</key>
	<string>dL_lvocalic.glif</string>
	<key>dLlvocalicsign</key>
	<string>dL_lvocalicsign.glif</string>
	<key>dLvocalic</key>
	<string>dL_vocalic.glif</string>
	<key>dLvocalicsign</key>
	<string>dL_vocalicsign.glif</string>
	<key>dMBRa</key>
	<string>dM_B_R_a.glif</string>
	<key>dMBYa</key>
	<string>dM_B_Y_a.glif</string>
	<key>dMBa</key>
	<string>dM_B_a.glif</string>
	<key>dMBhRa</key>
	<string>dM_B_hR_a.glif</string>
	<key>dMBha</key>
	<string>dM_B_ha.glif</string>
	<key>dMBha.half</key>
	<string>dM_B_ha.half.glif</string>
	<key>dMDa</key>
	<string>dM_D_a.glif</string>
	<key>dMHa</key>
	<string>dM_H_a.glif</string>
	<key>dMLa</key>
	<string>dM_L_a.glif</string>
	<key>dMMa</key>
	<string>dM_M_a.glif</string>
	<key>dMNa</key>
	<string>dM_N_a.glif</string>
	<key>dMPRa</key>
	<string>dM_P_R_a.glif</string>
	<key>dMPa</key>
	<string>dM_P_a.glif</string>
	<key>dMRa</key>
	<string>dM_R_a.glif</string>
	<key>dMSa</key>
	<string>dM_S_a.glif</string>
	<key>dMSha</key>
	<string>dM_S_ha.glif</string>
	<key>dMTa</key>
	<string>dM_T_a.glif</string>
	<key>dMVa</key>
	<string>dM_V_a.glif</string>
	<key>dMYa</key>
	<string>dM_Y_a.glif</string>
	<key>dMa</key>
	<string>dM_a.glif</string>
	<key>dMa.half</key>
	<string>dM_a.half.glif</string>
	<key>dNBha</key>
	<string>dN_B_ha.glif</string>
	<key>dNBha.half</key>
	<string>dN_B_ha.half.glif</string>
	<key>dNCa</key>
	<string>dN_C_a.glif</string>
	<key>dNDRa</key>
	<string>dN_D_R_a.glif</string>
	<key>dNDVa</key>
	<string>dN_D_V_a.glif</string>
	<key>dNDa</key>
	<string>dN_D_a.glif</string>
	<key>dNDda</key>
	<string>dN_D_da.glif</string>
	<key>dNDhRa</key>
	<string>dN_D_hR_a.glif</string>
	<key>dNDhVa</key>
	<string>dN_D_hV_a.glif</string>
	<key>dNDhYa</key>
	<string>dN_D_hY_a.glif</string>
	<key>dNDha</key>
	<string>dN_D_ha.glif</string>
	<key>dNHYa</key>
	<string>dN_H_Y_a.glif</string>
	<key>dNHa</key>
	<string>dN_H_a.glif</string>
	<key>dNKSa</key>
	<string>dN_K_S_a.glif</string>
	<key>dNKa</key>
	<string>dN_K_a.glif</string>
	<key>dNMYa</key>
	<string>dN_M_Y_a.glif</string>
	<key>dNMa</key>
	<string>dN_M_a.glif</string>
	<key>dNNYa</key>
	<string>dN_N_Y_a.glif</string>
	<key>dNNa</key>
	<string>dN_N_a.glif</string>
	<key>dNPRa</key>
	<string>dN_P_R_a.glif</string>
	<key>dNPa</key>
	<string>dN_P_a.glif</string>
	<key>dNPha</key>
	<string>dN_P_ha.glif</string>
	<key>dNRa</key>
	<string>dN_R_a.glif</string>
	<key>dNSTta</key>
	<string>dN_S_T_ta.glif</string>
	<key>dNSa</key>
	<string>dN_S_a.glif</string>
	<key>dNSa.half</key>
	<string>dN_S_a.half.glif</string>
	<key>dNTRa</key>
	<string>dN_T_R_a.glif</string>
	<key>dNTSa</key>
	<string>dN_T_S_a.glif</string>
	<key>dNTYa</key>
	<string>dN_T_Y_a.glif</string>
	<key>dNTa</key>
	<string>dN_T_a.glif</string>
	<key>dNThVa</key>
	<string>dN_T_hV_a.glif</string>
	<key>dNThYa</key>
	<string>dN_T_hY_a.glif</string>
	<key>dNTha</key>
	<string>dN_T_ha.glif</string>
	<key>dNTta</key>
	<string>dN_T_ta.glif</string>
	<key>dNVa</key>
	<string>dN_V_a.glif</string>
	<key>dNYa</key>
	<string>dN_Y_a.glif</string>
	<key>dNa</key>
	<string>dN_a.glif</string>
	<key>dNa.half</key>
	<string>dN_a.half.glif</string>
	<key>dNacombiningletter</key>
	<string>dN_acombiningletter.glif</string>
	<key>dNgGa</key>
	<string>dN_gG_a.glif</string>
	<key>dNgGha</key>
	<string>dN_gG_ha.glif</string>
	<key>dNgKSsa</key>
	<string>dN_gK_S_sa.glif</string>
	<key>dNgKa</key>
	<string>dN_gK_a.glif</string>
	<key>dNgKha</key>
	<string>dN_gK_ha.glif</string>
	<key>dNgMa</key>
	<string>dN_gM_a.glif</string>
	<key>dNga</key>
	<string>dN_ga.glif</string>
	<key>dNga.half</key>
	<string>dN_ga.half.glif</string>
	<key>dNine</key>
	<string>dN_ine.glif</string>
	<key>dNinecombiningdigit</key>
	<string>dN_inecombiningdigit.glif</string>
	<key>dNnDda</key>
	<string>dN_nD_da.glif</string>
	<key>dNnDdha</key>
	<string>dN_nD_dha.glif</string>
	<key>dNnMa</key>
	<string>dN_nM_a.glif</string>
	<key>dNnNna</key>
	<string>dN_nN_na.glif</string>
	<key>dNnRa</key>
	<string>dN_nR_a.glif</string>
	<key>dNnTha</key>
	<string>dN_nT_ha.glif</string>
	<key>dNnTta</key>
	<string>dN_nT_ta.glif</string>
	<key>dNnVa</key>
	<string>dN_nV_a.glif</string>
	<key>dNnYa</key>
	<string>dN_nY_a.glif</string>
	<key>dNna</key>
	<string>dN_na.glif</string>
	<key>dNna.half</key>
	<string>dN_na.half.glif</string>
	<key>dNnna</key>
	<string>dN_nna.glif</string>
	<key>dNnna.half</key>
	<string>dN_nna.half.glif</string>
	<key>dNukta</key>
	<string>dN_ukta.glif</string>
	<key>dNyCYa</key>
	<string>dN_yC_Y_a.glif</string>
	<key>dNyCa</key>
	<string>dN_yC_a.glif</string>
	<key>dNyCha</key>
	<string>dN_yC_ha.glif</string>
	<key>dNyJYa</key>
	<string>dN_yJ_Y_a.glif</string>
	<key>dNyJa</key>
	<string>dN_yJ_a.glif</string>
	<key>dNyRa</key>
	<string>dN_yR_a.glif</string>
	<key>dNySha</key>
	<string>dN_yS_ha.glif</string>
	<key>dNya</key>
	<string>dN_ya.glif</string>
	<key>dNya.half</key>
	<string>dN_ya.half.glif</string>
	<key>dO</key>
	<string>dO_.glif</string>
	<key>dOcandra</key>
	<string>dO_candra.glif</string>
	<key>dOcandrasign</key>
	<string>dO_candrasign.glif</string>
	<key>dOe</key>
	<string>dO_e.glif</string>
	<key>dOesign</key>
	<string>dO_esign.glif</string>
	<key>dOm</key>
	<string>dO_m.glif</string>
	<key>dOne</key>
	<string>dO_ne.glif</string>
	<key>dOnecombiningdigit</key>
	<string>dO_necombiningdigit.glif</string>
	<key>dOoe</key>
	<string>dO_oe.glif</string>
	<key>dOoesign</key>
	<string>dO_oesign.glif</string>
	<key>dOshort</key>
	<string>dO_short.glif</string>
	<key>dOshortsign</key>
	<string>dO_shortsign.glif</string>
	<key>dOsign</key>
	<string>dO_sign.glif</string>
	<key>dOsignAnusvara</key>
	<string>dO_signA_nusvara.glif</string>
	<key>dOsignReph.alt1</key>
	<string>dO_signR_eph.alt1.glif</string>
	<key>dOsignRephAnusvara</key>
	<string>dO_signR_ephA_nusvara.glif</string>
	<key>dPLa</key>
	<string>dP_L_a.glif</string>
	<key>dPMa</key>
	<string>dP_M_a.glif</string>
	<key>dPNa</key>
	<string>dP_N_a.glif</string>
	<key>dPPa</key>
	<string>dP_P_a.glif</string>
	<key>dPPha</key>
	<string>dP_P_ha.glif</string>
	<key>dPRa</key>
	<string>dP_R_a.glif</string>
	<key>dPSa</key>
	<string>dP_S_a.glif</string>
	<key>dPTYa</key>
	<string>dP_T_Y_a.glif</string>
	<key>dPTa</key>
	<string>dP_T_a.glif</string>
	<key>dPTta</key>
	<string>dP_T_ta.glif</string>
	<key>dPVa</key>
	<string>dP_V_a.glif</string>
	<key>dPYa</key>
	<string>dP_Y_a.glif</string>
	<key>dPa</key>
	<string>dP_a.glif</string>
	<key>dPa.half</key>
	<string>dP_a.half.glif</string>
	<key>dPacombiningletter</key>
	<string>dP_acombiningletter.glif</string>
	<key>dPhJa</key>
	<string>dP_hJ_a.glif</string>
	<key>dPhLa</key>
	<string>dP_hL_a.glif</string>
	<key>dPhPa</key>
	<string>dP_hP_a.glif</string>
	<key>dPhPha</key>
	<string>dP_hP_ha.glif</string>
	<key>dPhRa</key>
	<string>dP_hR_a.glif</string>
	<key>dPhSha</key>
	<string>dP_hS_ha.glif</string>
	<key>dPhTa</key>
	<string>dP_hT_a.glif</string>
	<key>dPhTta</key>
	<string>dP_hT_ta.glif</string>
	<key>dPhYa</key>
	<string>dP_hY_a.glif</string>
	<key>dPha</key>
	<string>dP_ha.glif</string>
	<key>dPha.half</key>
	<string>dP_ha.half.glif</string>
	<key>dPushpika</key>
	<string>dP_ushpika.glif</string>
	<key>dQBa</key>
	<string>dQ_B_a.glif</string>
	<key>dQFa</key>
	<string>dQ_F_a.glif</string>
	<key>dQMa</key>
	<string>dQ_M_a.glif</string>
	<key>dQPha</key>
	<string>dQ_P_ha.glif</string>
	<key>dQQa</key>
	<string>dQ_Q_a.glif</string>
	<key>dQTa</key>
	<string>dQ_T_a.glif</string>
	<key>dQa</key>
	<string>dQ_a.glif</string>
	<key>dQa.half</key>
	<string>dQ_a.half.glif</string>
	<key>dRa</key>
	<string>dR_a.glif</string>
	<key>dRaUsign</key>
	<string>dR_aU_sign.glif</string>
	<key>dRaUusign</key>
	<string>dR_aU_usign.glif</string>
	<key>dRacombiningletter</key>
	<string>dR_acombiningletter.glif</string>
	<key>dRakar</key>
	<string>dR_akar.glif</string>
	<key>dRakar.alt</key>
	<string>dR_akar.alt.glif</string>
	<key>dReph</key>
	<string>dR_eph.glif</string>
	<key>dReph.alt</key>
	<string>dR_eph.alt.glif</string>
	<key>dRephAnusvara</key>
	<string>dR_ephA_nusvara.glif</string>
	<key>dRha</key>
	<string>dR_ha.glif</string>
	<key>dRra</key>
	<string>dR_ra.glif</string>
	<key>dRrvocalic</key>
	<string>dR_rvocalic.glif</string>
	<key>dRrvocalicsign</key>
	<string>dR_rvocalicsign.glif</string>
	<key>dRvocalic</key>
	<string>dR_vocalic.glif</string>
	<key>dRvocalicsign</key>
	<string>dR_vocalicsign.glif</string>
	<key>dSBa</key>
	<string>dS_B_a.glif</string>
	<key>dSDa</key>
	<string>dS_D_a.glif</string>
	<key>dSJa</key>
	<string>dS_J_a.glif</string>
	<key>dSKRa</key>
	<string>dS_K_R_a.glif</string>
	<key>dSKVa</key>
	<string>dS_K_V_a.glif</string>
	<key>dSKa</key>
	<string>dS_K_a.glif</string>
	<key>dSKha</key>
	<string>dS_K_ha.glif</string>
	<key>dSLa</key>
	<string>dS_L_a.glif</string>
	<key>dSMYa</key>
	<string>dS_M_Y_a.glif</string>
	<key>dSMa</key>
	<string>dS_M_a.glif</string>
	<key>dSNa</key>
	<string>dS_N_a.glif</string>
	<key>dSPRa</key>
	<string>dS_P_R_a.glif</string>
	<key>dSPa</key>
	<string>dS_P_a.glif</string>
	<key>dSPha</key>
	<string>dS_P_ha.glif</string>
	<key>dSRa</key>
	<string>dS_R_a.glif</string>
	<key>dSSa</key>
	<string>dS_S_a.glif</string>
	<key>dSTRa</key>
	<string>dS_T_R_a.glif</string>
	<key>dSTVa</key>
	<string>dS_T_V_a.glif</string>
	<key>dSTYa</key>
	<string>dS_T_Y_a.glif</string>
	<key>dSTa</key>
	<string>dS_T_a.glif</string>
	<key>dSThYa</key>
	<string>dS_T_hY_a.glif</string>
	<key>dSTha</key>
	<string>dS_T_ha.glif</string>
	<key>dSTta</key>
	<string>dS_T_ta.glif</string>
	<key>dSVa</key>
	<string>dS_V_a.glif</string>
	<key>dSYa</key>
	<string>dS_Y_a.glif</string>
	<key>dSa</key>
	<string>dS_a.glif</string>
	<key>dSa.half</key>
	<string>dS_a.half.glif</string>
	<key>dSeven</key>
	<string>dS_even.glif</string>
	<key>dSevencombiningdigit</key>
	<string>dS_evencombiningdigit.glif</string>
	<key>dShCa</key>
	<string>dS_hC_a.glif</string>
	<key>dShCha</key>
	<string>dS_hC_ha.glif</string>
	<key>dShKa</key>
	<string>dS_hK_a.glif</string>
	<key>dShLa</key>
	<string>dS_hL_a.glif</string>
	<key>dShMa</key>
	<string>dS_hM_a.glif</string>
	<key>dShNa</key>
	<string>dS_hN_a.glif</string>
	<key>dShQa</key>
	<string>dS_hQ_a.glif</string>
	<key>dShRa</key>
	<string>dS_hR_a.glif</string>
	<key>dShSha</key>
	<string>dS_hS_ha.glif</string>
	<key>dShTa</key>
	<string>dS_hT_a.glif</string>
	<key>dShTta</key>
	<string>dS_hT_ta.glif</string>
	<key>dShVa</key>
	<string>dS_hV_a.glif</string>
	<key>dShYa</key>
	<string>dS_hY_a.glif</string>
	<key>dSha</key>
	<string>dS_ha.glif</string>
	<key>dSha.half</key>
	<string>dS_ha.half.glif</string>
	<key>dSha.half.alt</key>
	<string>dS_ha.half.alt.glif</string>
	<key>dSha.half.mar</key>
	<string>dS_ha.half.mar.glif</string>
	<key>dSha.mar</key>
	<string>dS_ha.mar.glif</string>
	<key>dShaRvocalicsign</key>
	<string>dS_haR_vocalicsign.glif</string>
	<key>dSix</key>
	<string>dS_ix.glif</string>
	<key>dSixcombiningdigit</key>
	<string>dS_ixcombiningdigit.glif</string>
	<key>dSpacingcandrabindu</key>
	<string>dS_pacingcandrabindu.glif</string>
	<key>dSsKRa</key>
	<string>dS_sK_R_a.glif</string>
	<key>dSsMYa</key>
	<string>dS_sM_Y_a.glif</string>
	<key>dSsMa</key>
	<string>dS_sM_a.glif</string>
	<key>dSsNnYa</key>
	<string>dS_sN_nY_a.glif</string>
	<key>dSsNna</key>
	<string>dS_sN_na.glif</string>
	<key>dSsPRa</key>
	<string>dS_sP_R_a.glif</string>
	<key>dSsPa</key>
	<string>dS_sP_a.glif</string>
	<key>dSsPha</key>
	<string>dS_sP_ha.glif</string>
	<key>dSsRa</key>
	<string>dS_sR_a.glif</string>
	<key>dSsSsa</key>
	<string>dS_sS_sa.glif</string>
	<key>dSsTta</key>
	<string>dS_sT_ta.glif</string>
	<key>dSsTtha</key>
	<string>dS_sT_tha.glif</string>
	<key>dSsVa</key>
	<string>dS_sV_a.glif</string>
	<key>dSsYa</key>
	<string>dS_sY_a.glif</string>
	<key>dSsa</key>
	<string>dS_sa.glif</string>
	<key>dSsa.half</key>
	<string>dS_sa.half.glif</string>
	<key>dTKRa</key>
	<string>dT_K_R_a.glif</string>
	<key>dTKSsa</key>
	<string>dT_K_S_sa.glif</string>
	<key>dTKVa</key>
	<string>dT_K_V_a.glif</string>
	<key>dTKYa</key>
	<string>dT_K_Y_a.glif</string>
	<key>dTKa</key>
	<string>dT_K_a.glif</string>
	<key>dTKhNa</key>
	<string>dT_K_hN_a.glif</string>
	<key>dTKhRa</key>
	<string>dT_K_hR_a.glif</string>
	<key>dTKha</key>
	<string>dT_K_ha.glif</string>
	<key>dTLa</key>
	<string>dT_L_a.glif</string>
	<key>dTMYa</key>
	<string>dT_M_Y_a.glif</string>
	<key>dTMa</key>
	<string>dT_M_a.glif</string>
	<key>dTNYa</key>
	<string>dT_N_Y_a.glif</string>
	<key>dTNa</key>
	<string>dT_N_a.glif</string>
	<key>dTPLa</key>
	<string>dT_P_L_a.glif</string>
	<key>dTPRa</key>
	<string>dT_P_R_a.glif</string>
	<key>dTPa</key>
	<string>dT_P_a.glif</string>
	<key>dTPha</key>
	<string>dT_P_ha.glif</string>
	<key>dTRYa</key>
	<string>dT_R_Y_a.glif</string>
	<key>dTRa</key>
	<string>dT_R_a.glif</string>
	<key>dTRa.half</key>
	<string>dT_R_a.half.glif</string>
	<key>dTSNa</key>
	<string>dT_S_N_a.glif</string>
	<key>dTSVa</key>
	<string>dT_S_V_a.glif</string>
	<key>dTSYa</key>
	<string>dT_S_Y_a.glif</string>
	<key>dTSa</key>
	<string>dT_S_a.glif</string>
	<key>dTTVa</key>
	<string>dT_T_V_a.glif</string>
	<key>dTTYa</key>
	<string>dT_T_Y_a.glif</string>
	<key>dTTa</key>
	<string>dT_T_a.glif</string>
	<key>dTTa.half</key>
	<string>dT_T_a.half.glif</string>
	<key>dTTha</key>
	<string>dT_T_ha.glif</string>
	<key>dTVa</key>
	<string>dT_V_a.glif</string>
	<key>dTYa</key>
	<string>dT_Y_a.glif</string>
	<key>dTa</key>
	<string>dT_a.glif</string>
	<key>dTa.half</key>
	<string>dT_a.half.glif</string>
	<key>dThRa</key>
	<string>dT_hR_a.glif</string>
	<key>dThVa</key>
	<string>dT_hV_a.glif</string>
	<key>dThYa</key>
	<string>dT_hY_a.glif</string>
	<key>dTha</key>
	<string>dT_ha.glif</string>
	<key>dTha.half</key>
	<string>dT_ha.half.glif</string>
	<key>dThree</key>
	<string>dT_hree.glif</string>
	<key>dThreecombiningdigit</key>
	<string>dT_hreecombiningdigit.glif</string>
	<key>dTtTta</key>
	<string>dT_tT_ta.glif</string>
	<key>dTtTtha</key>
	<string>dT_tT_tha.glif</string>
	<key>dTtVa</key>
	<string>dT_tV_a.glif</string>
	<key>dTtYa</key>
	<string>dT_tY_a.glif</string>
	<key>dTta</key>
	<string>dT_ta.glif</string>
	<key>dTta.half</key>
	<string>dT_ta.half.glif</string>
	<key>dTthTtha</key>
	<string>dT_thT_tha.glif</string>
	<key>dTthYa</key>
	<string>dT_thY_a.glif</string>
	<key>dTtha</key>
	<string>dT_tha.glif</string>
	<key>dTtha.half</key>
	<string>dT_tha.half.glif</string>
	<key>dTwo</key>
	<string>dT_wo.glif</string>
	<key>dTwocombiningdigit</key>
	<string>dT_wocombiningdigit.glif</string>
	<key>dU</key>
	<string>dU_.glif</string>
	<key>dUcombiningletter</key>
	<string>dU_combiningletter.glif</string>
	<key>dUdatta</key>
	<string>dU_datta.glif</string>
	<key>dUe</key>
	<string>dU_e.glif</string>
	<key>dUesign</key>
	<string>dU_esign.glif</string>
	<key>dUsign</key>
	<string>dU_sign.glif</string>
	<key>dUsign.alt</key>
	<string>dU_sign.alt.glif</string>
	<key>dUsign.alt2</key>
	<string>dU_sign.alt2.glif</string>
	<key>dUu</key>
	<string>dU_u.glif</string>
	<key>dUue</key>
	<string>dU_ue.glif</string>
	<key>dUuesign</key>
	<string>dU_uesign.glif</string>
	<key>dUusign</key>
	<string>dU_usign.glif</string>
	<key>dVHa</key>
	<string>dV_H_a.glif</string>
	<key>dVLa</key>
	<string>dV_L_a.glif</string>
	<key>dVRa</key>
	<string>dV_R_a.glif</string>
	<key>dVVa</key>
	<string>dV_V_a.glif</string>
	<key>dVYa</key>
	<string>dV_Y_a.glif</string>
	<key>dVa</key>
	<string>dV_a.glif</string>
	<key>dVa.half</key>
	<string>dV_a.half.glif</string>
	<key>dVattuUlow</key>
	<string>dV_attuU_low.glif</string>
	<key>dVattuUulow</key>
	<string>dV_attuU_ulow.glif</string>
	<key>dVicombiningletter</key>
	<string>dV_icombiningletter.glif</string>
	<key>dVirama</key>
	<string>dV_irama.glif</string>
	<key>dVisarga</key>
	<string>dV_isarga.glif</string>
	<key>dYRa</key>
	<string>dY_R_a.glif</string>
	<key>dYYa</key>
	<string>dY_Y_a.glif</string>
	<key>dYa</key>
	<string>dY_a.glif</string>
	<key>dYa.half</key>
	<string>dY_a.half.glif</string>
	<key>dYaheavy</key>
	<string>dY_aheavy.glif</string>
	<key>dYya</key>
	<string>dY_ya.glif</string>
	<key>dZYa</key>
	<string>dZ_Y_a.glif</string>
	<key>dZZa</key>
	<string>dZ_Z_a.glif</string>
	<key>dZa</key>
	<string>dZ_a.glif</string>
	<key>dZa.half</key>
	<string>dZ_a.half.glif</string>
	<key>dZero</key>
	<string>dZ_ero.glif</string>
	<key>dZerocombiningdigit</key>
	<string>dZ_erocombiningdigit.glif</string>
	<key>dZha</key>
	<string>dZ_ha.glif</string>
	<key>dZha.nep</key>
	<string>dZ_ha.nep.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dottedcircle</key>
	<string>dottedcircle.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>highdef</key>
	<string>highdef.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>inr_currency</key>
	<string>inr_currency.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
