<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>CR</key>
	<string>CR.glif</string>
	<key>NULL</key>
	<string>NULL.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>dA</key>
	<string>dA.glif</string>
	<key>dAa</key>
	<string>dAa.glif</string>
	<key>dAasign</key>
	<string>dAasign.glif</string>
	<key>dAbbsign</key>
	<string>dAbbsign.glif</string>
	<key>dAcandra</key>
	<string>dAcandra.glif</string>
	<key>dAcombiningletter</key>
	<string>dAcombiningletter.glif</string>
	<key>dAcute</key>
	<string>dAcute.glif</string>
	<key>dAi</key>
	<string>dAi.glif</string>
	<key>dAisign</key>
	<string>dAisign.glif</string>
	<key>dAisignAnusvara</key>
	<string>dAisignAnusvara.glif</string>
	<key>dAisignReph.alt1</key>
	<string>dAisignReph.alt1.glif</string>
	<key>dAisignRephAnusvara</key>
	<string>dAisignRephAnusvara.glif</string>
	<key>dAnudatta</key>
	<string>dAnudatta.glif</string>
	<key>dAnusvara</key>
	<string>dAnusvara.glif</string>
	<key>dAshort</key>
	<string>dAshort.glif</string>
	<key>dAu</key>
	<string>dAu.glif</string>
	<key>dAusign</key>
	<string>dAusign.glif</string>
	<key>dAusignAnusvara</key>
	<string>dAusignAnusvara.glif</string>
	<key>dAusignReph.alt1</key>
	<string>dAusignReph.alt1.glif</string>
	<key>dAusignRephAnusvara</key>
	<string>dAusignRephAnusvara.glif</string>
	<key>dAvagraha</key>
	<string>dAvagraha.glif</string>
	<key>dAvagrahacombiningsign</key>
	<string>dAvagrahacombiningsign.glif</string>
	<key>dAw</key>
	<string>dAw.glif</string>
	<key>dAwsign</key>
	<string>dAwsign.glif</string>
	<key>dBBa</key>
	<string>dBBa.glif</string>
	<key>dBBhRa</key>
	<string>dBBhRa.glif</string>
	<key>dBBha</key>
	<string>dBBha.glif</string>
	<key>dBDa</key>
	<string>dBDa.glif</string>
	<key>dBDhVa</key>
	<string>dBDhVa.glif</string>
	<key>dBDha</key>
	<string>dBDha.glif</string>
	<key>dBJYa</key>
	<string>dBJYa.glif</string>
	<key>dBJa</key>
	<string>dBJa.glif</string>
	<key>dBLYa</key>
	<string>dBLYa.glif</string>
	<key>dBLa</key>
	<string>dBLa.glif</string>
	<key>dBNa</key>
	<string>dBNa.glif</string>
	<key>dBRa</key>
	<string>dBRa.glif</string>
	<key>dBRa.half</key>
	<string>dBRa.half.glif</string>
	<key>dBSa</key>
	<string>dBSa.glif</string>
	<key>dBSha</key>
	<string>dBSha.glif</string>
	<key>dBTa</key>
	<string>dBTa.glif</string>
	<key>dBVa</key>
	<string>dBVa.glif</string>
	<key>dBYa</key>
	<string>dBYa.glif</string>
	<key>dBZa</key>
	<string>dBZa.glif</string>
	<key>dBa</key>
	<string>dBa.glif</string>
	<key>dBa.half</key>
	<string>dBa.half.glif</string>
	<key>dBba</key>
	<string>dB_ba.glif</string>
	<key>dBhRa</key>
	<string>dBhRa.glif</string>
	<key>dBhVa</key>
	<string>dBhVa.glif</string>
	<key>dBhYa</key>
	<string>dBhYa.glif</string>
	<key>dBha</key>
	<string>dBha.glif</string>
	<key>dBha.half</key>
	<string>dBha.half.glif</string>
	<key>dCCa</key>
	<string>dCCa.glif</string>
	<key>dCChVa</key>
	<string>dCChVa.glif</string>
	<key>dCCha</key>
	<string>dCCha.glif</string>
	<key>dCMa</key>
	<string>dCMa.glif</string>
	<key>dCNa</key>
	<string>dCNa.glif</string>
	<key>dCRa</key>
	<string>dCRa.glif</string>
	<key>dCYa</key>
	<string>dCYa.glif</string>
	<key>dCa</key>
	<string>dCa.glif</string>
	<key>dCa.half</key>
	<string>dCa.half.glif</string>
	<key>dCandraBindu</key>
	<string>dCandraBindu.glif</string>
	<key>dCandraBinduInverted</key>
	<string>dCandraBinduInverted.glif</string>
	<key>dCandrabinduavagraha</key>
	<string>dCandrabinduavagraha.glif</string>
	<key>dCandrabindudigitthree</key>
	<string>dCandrabindudigitthree.glif</string>
	<key>dCandrabindudigittwo</key>
	<string>dCandrabindudigittwo.glif</string>
	<key>dCandrabinduvirama</key>
	<string>dCandrabinduvirama.glif</string>
	<key>dCaret</key>
	<string>dCaret.glif</string>
	<key>dChVa</key>
	<string>dChVa.glif</string>
	<key>dCha</key>
	<string>dCha.glif</string>
	<key>dCha.half</key>
	<string>dCha.half.glif</string>
	<key>dDBa</key>
	<string>dDBa.glif</string>
	<key>dDBha</key>
	<string>dDBha.glif</string>
	<key>dDDa</key>
	<string>dDDa.glif</string>
	<key>dDDhRYa</key>
	<string>dDDhRYa.glif</string>
	<key>dDDha</key>
	<string>dDDha.glif</string>
	<key>dDGa</key>
	<string>dDGa.glif</string>
	<key>dDGha</key>
	<string>dDGha.glif</string>
	<key>dDMa</key>
	<string>dDMa.glif</string>
	<key>dDNa</key>
	<string>dDNa.glif</string>
	<key>dDRa</key>
	<string>dDRa.glif</string>
	<key>dDVa</key>
	<string>dDVa.glif</string>
	<key>dDYa</key>
	<string>dDYa.glif</string>
	<key>dDa</key>
	<string>dDa.glif</string>
	<key>dDa.half</key>
	<string>dDa.half.glif</string>
	<key>dDaRvocalicsign</key>
	<string>dDaRvocalicsign.glif</string>
	<key>dDanda</key>
	<string>dDanda.glif</string>
	<key>dDbldanda</key>
	<string>dDbldanda.glif</string>
	<key>dDdDda</key>
	<string>dDdDda.glif</string>
	<key>dDdDdha</key>
	<string>dDdDdha.glif</string>
	<key>dDdYa</key>
	<string>dDdYa.glif</string>
	<key>dDda</key>
	<string>dD_da.glif</string>
	<key>dDda.half</key>
	<string>dDda.half.glif</string>
	<key>dDdda</key>
	<string>dDdda.glif</string>
	<key>dDddha</key>
	<string>dDddha.glif</string>
	<key>dDdhDdha</key>
	<string>dDdhDdha.glif</string>
	<key>dDdhYa</key>
	<string>dDdhYa.glif</string>
	<key>dDdha</key>
	<string>dD_dha.glif</string>
	<key>dDdha.half</key>
	<string>dDdha.half.glif</string>
	<key>dDhMa</key>
	<string>dDhMa.glif</string>
	<key>dDhNYa</key>
	<string>dDhNYa.glif</string>
	<key>dDhNa</key>
	<string>dDhNa.glif</string>
	<key>dDhRa</key>
	<string>dDhRa.glif</string>
	<key>dDhVa</key>
	<string>dDhVa.glif</string>
	<key>dDhYa</key>
	<string>dDhYa.glif</string>
	<key>dDha</key>
	<string>dDha.glif</string>
	<key>dDha.half</key>
	<string>dDha.half.glif</string>
	<key>dDoublecandrabinduvirama</key>
	<string>dDoublecandrabinduvirama.glif</string>
	<key>dE</key>
	<string>dE.glif</string>
	<key>dEcandra</key>
	<string>dEcandra.glif</string>
	<key>dEcandralongsign</key>
	<string>dEcandralongsign.glif</string>
	<key>dEcandrasign</key>
	<string>dEcandrasign.glif</string>
	<key>dEight</key>
	<string>dEight.glif</string>
	<key>dEight.nep</key>
	<string>dEight.nep.glif</string>
	<key>dEightcombiningdigit</key>
	<string>dEightcombiningdigit.glif</string>
	<key>dEprishthamatrasign</key>
	<string>dEprishthamatrasign.glif</string>
	<key>dEshort</key>
	<string>dEshort.glif</string>
	<key>dEshortsign</key>
	<string>dEshortsign.glif</string>
	<key>dEsign</key>
	<string>dEsign.glif</string>
	<key>dEsignAnusvara</key>
	<string>dEsignAnusvara.glif</string>
	<key>dEsignReph.alt1</key>
	<string>dEsignReph.alt1.glif</string>
	<key>dEsignRephAnusvara</key>
	<string>dEsignRephAnusvara.glif</string>
	<key>dFFa</key>
	<string>dFFa.glif</string>
	<key>dFSa</key>
	<string>dFSa.glif</string>
	<key>dFTa</key>
	<string>dFTa.glif</string>
	<key>dFZa</key>
	<string>dFZa.glif</string>
	<key>dFa</key>
	<string>dFa.glif</string>
	<key>dFa.half</key>
	<string>dFa.half.glif</string>
	<key>dFive</key>
	<string>dFive.glif</string>
	<key>dFive.nep</key>
	<string>dFive.nep.glif</string>
	<key>dFivecombiningdigit</key>
	<string>dFivecombiningdigit.glif</string>
	<key>dFour</key>
	<string>dFour.glif</string>
	<key>dFourcombiningdigit</key>
	<string>dFourcombiningdigit.glif</string>
	<key>dGBa</key>
	<string>dGBa.glif</string>
	<key>dGBhYa</key>
	<string>dGBhYa.glif</string>
	<key>dGBha</key>
	<string>dGBha.glif</string>
	<key>dGDa</key>
	<string>dGDa.glif</string>
	<key>dGDhVa</key>
	<string>dGDhVa.glif</string>
	<key>dGDhYa</key>
	<string>dGDhYa.glif</string>
	<key>dGDha</key>
	<string>dGDha.glif</string>
	<key>dGGa</key>
	<string>dGGa.glif</string>
	<key>dGGha</key>
	<string>dGGha.glif</string>
	<key>dGJa</key>
	<string>dGJa.glif</string>
	<key>dGLa</key>
	<string>dGLa.glif</string>
	<key>dGMa</key>
	<string>dGMa.glif</string>
	<key>dGNYa</key>
	<string>dGNYa.glif</string>
	<key>dGNa</key>
	<string>dGNa.glif</string>
	<key>dGNna</key>
	<string>dGNna.glif</string>
	<key>dGRa</key>
	<string>dGRa.glif</string>
	<key>dGSa</key>
	<string>dGSa.glif</string>
	<key>dGVa</key>
	<string>dGVa.glif</string>
	<key>dGYa</key>
	<string>dGYa.glif</string>
	<key>dGa</key>
	<string>dGa.glif</string>
	<key>dGa.half</key>
	<string>dGa.half.glif</string>
	<key>dGapfiller</key>
	<string>dGapfiller.glif</string>
	<key>dGga</key>
	<string>dG_ga.glif</string>
	<key>dGhMa</key>
	<string>dGhMa.glif</string>
	<key>dGhNa</key>
	<string>dGhNa.glif</string>
	<key>dGhRa</key>
	<string>dGhRa.glif</string>
	<key>dGhYa</key>
	<string>dGhYa.glif</string>
	<key>dGha</key>
	<string>dGha.glif</string>
	<key>dGha.half</key>
	<string>dGha.half.glif</string>
	<key>dGhha</key>
	<string>dGhha.glif</string>
	<key>dGhha.half</key>
	<string>dGhha.half.glif</string>
	<key>dGlottalstop</key>
	<string>dGlottalstop.glif</string>
	<key>dGrave</key>
	<string>dGrave.glif</string>
	<key>dHLa</key>
	<string>dHLa.glif</string>
	<key>dHMa</key>
	<string>dHMa.glif</string>
	<key>dHNa</key>
	<string>dHNa.glif</string>
	<key>dHNna</key>
	<string>dHNna.glif</string>
	<key>dHRa</key>
	<string>dHRa.glif</string>
	<key>dHVa</key>
	<string>dHVa.glif</string>
	<key>dHYa</key>
	<string>dHYa.glif</string>
	<key>dHa</key>
	<string>dHa.glif</string>
	<key>dHa.half</key>
	<string>dHa.half.glif</string>
	<key>dHaRvocalicsign</key>
	<string>dHaRvocalicsign.glif</string>
	<key>dHeadstroke</key>
	<string>dHeadstroke.glif</string>
	<key>dHighspacingdot</key>
	<string>dHighspacingdot.glif</string>
	<key>dI</key>
	<string>dI.glif</string>
	<key>dIi</key>
	<string>dIi.glif</string>
	<key>dIisign</key>
	<string>dIisign.glif</string>
	<key>dIisign.alt1</key>
	<string>dIisign.alt1.glif</string>
	<key>dIisignAnusvara</key>
	<string>dIisignAnusvara.glif</string>
	<key>dIisignAnusvara.alt1</key>
	<string>dIisignAnusvara.alt1.glif</string>
	<key>dIisignReph</key>
	<string>dIisignReph.glif</string>
	<key>dIisignReph.alt1</key>
	<string>dIisignReph.alt1.glif</string>
	<key>dIisignRephAnusvara</key>
	<string>dIisignRephAnusvara.glif</string>
	<key>dIisignRephAnusvara.alt1</key>
	<string>dIisignRephAnusvara.alt1.glif</string>
	<key>dIsign</key>
	<string>dIsign.glif</string>
	<key>dIsign.alt1</key>
	<string>dIsign.alt1.glif</string>
	<key>dIsign.alt2</key>
	<string>dIsign.alt2.glif</string>
	<key>dIsign.alt3</key>
	<string>dIsign.alt3.glif</string>
	<key>dIsign.alt4</key>
	<string>dIsign.alt4.glif</string>
	<key>dIsign.alt5</key>
	<string>dIsign.alt5.glif</string>
	<key>dIsign.alt6</key>
	<string>dIsign.alt6.glif</string>
	<key>dIsign.alt7</key>
	<string>dIsign.alt7.glif</string>
	<key>dIsign.alt8</key>
	<string>dIsign.alt8.glif</string>
	<key>dIsign.ja</key>
	<string>dIsign.ja.glif</string>
	<key>dIsign.kha</key>
	<string>dIsign.kha.glif</string>
	<key>dIsign.tha</key>
	<string>dIsign.tha.glif</string>
	<key>dIsignAnusvara</key>
	<string>dIsignAnusvara.glif</string>
	<key>dIsignAnusvara.alt1</key>
	<string>dIsignAnusvara.alt1.glif</string>
	<key>dIsignAnusvara.alt2</key>
	<string>dIsignAnusvara.alt2.glif</string>
	<key>dIsignAnusvara.alt3</key>
	<string>dIsignAnusvara.alt3.glif</string>
	<key>dIsignAnusvara.alt4</key>
	<string>dIsignAnusvara.alt4.glif</string>
	<key>dIsignAnusvara.alt5</key>
	<string>dIsignAnusvara.alt5.glif</string>
	<key>dIsignAnusvara.alt6</key>
	<string>dIsignAnusvara.alt6.glif</string>
	<key>dIsignAnusvara.alt7</key>
	<string>dIsignAnusvara.alt7.glif</string>
	<key>dIsignAnusvara.alt8</key>
	<string>dIsignAnusvara.alt8.glif</string>
	<key>dIsignAnusvara.ja</key>
	<string>dIsignAnusvara.ja.glif</string>
	<key>dIsignAnusvara.kha</key>
	<string>dIsignAnusvara.kha.glif</string>
	<key>dIsignAnusvara.tha</key>
	<string>dIsignAnusvara.tha.glif</string>
	<key>dIsignReph</key>
	<string>dIsignReph.glif</string>
	<key>dIsignReph.alt1</key>
	<string>dIsignReph.alt1.glif</string>
	<key>dIsignReph.alt2</key>
	<string>dIsignReph.alt2.glif</string>
	<key>dIsignReph.alt3</key>
	<string>dIsignReph.alt3.glif</string>
	<key>dIsignReph.alt4</key>
	<string>dIsignReph.alt4.glif</string>
	<key>dIsignReph.alt5</key>
	<string>dIsignReph.alt5.glif</string>
	<key>dIsignReph.alt6</key>
	<string>dIsignReph.alt6.glif</string>
	<key>dIsignReph.alt7</key>
	<string>dIsignReph.alt7.glif</string>
	<key>dIsignReph.alt8</key>
	<string>dIsignReph.alt8.glif</string>
	<key>dIsignReph.ja</key>
	<string>dIsignReph.ja.glif</string>
	<key>dIsignReph.kha</key>
	<string>dIsignReph.kha.glif</string>
	<key>dIsignReph.tha</key>
	<string>dIsignReph.tha.glif</string>
	<key>dIsignRephAnusvara</key>
	<string>dIsignRephAnusvara.glif</string>
	<key>dIsignRephAnusvara.alt1</key>
	<string>dIsignRephAnusvara.alt1.glif</string>
	<key>dIsignRephAnusvara.alt2</key>
	<string>dIsignRephAnusvara.alt2.glif</string>
	<key>dIsignRephAnusvara.alt3</key>
	<string>dIsignRephAnusvara.alt3.glif</string>
	<key>dIsignRephAnusvara.alt4</key>
	<string>dIsignRephAnusvara.alt4.glif</string>
	<key>dIsignRephAnusvara.alt5</key>
	<string>dIsignRephAnusvara.alt5.glif</string>
	<key>dIsignRephAnusvara.alt6</key>
	<string>dIsignRephAnusvara.alt6.glif</string>
	<key>dIsignRephAnusvara.alt7</key>
	<string>dIsignRephAnusvara.alt7.glif</string>
	<key>dIsignRephAnusvara.alt8</key>
	<string>dIsignRephAnusvara.alt8.glif</string>
	<key>dIsignRephAnusvara.ja</key>
	<string>dIsignRephAnusvara.ja.glif</string>
	<key>dIsignRephAnusvara.kha</key>
	<string>dIsignRephAnusvara.kha.glif</string>
	<key>dIsignRephAnusvara.tha</key>
	<string>dIsignRephAnusvara.tha.glif</string>
	<key>dJBa</key>
	<string>dJBa.glif</string>
	<key>dJDa</key>
	<string>dJDa.glif</string>
	<key>dJDda</key>
	<string>dJDda.glif</string>
	<key>dJJNya</key>
	<string>dJJNya.glif</string>
	<key>dJJVa</key>
	<string>dJJVa.glif</string>
	<key>dJJYa</key>
	<string>dJJYa.glif</string>
	<key>dJJa</key>
	<string>dJJa.glif</string>
	<key>dJJa.half</key>
	<string>dJJa.half.glif</string>
	<key>dJJha</key>
	<string>dJJha.glif</string>
	<key>dJKa</key>
	<string>dJKa.glif</string>
	<key>dJMa</key>
	<string>dJMa.glif</string>
	<key>dJNa</key>
	<string>dJNa.glif</string>
	<key>dJNyRa</key>
	<string>dJNyRa.glif</string>
	<key>dJNyYa</key>
	<string>dJNyYa.glif</string>
	<key>dJNya</key>
	<string>dJNya.glif</string>
	<key>dJNya.half</key>
	<string>dJNya.half.glif</string>
	<key>dJRa</key>
	<string>dJRa.glif</string>
	<key>dJTa</key>
	<string>dJTa.glif</string>
	<key>dJTta</key>
	<string>dJTta.glif</string>
	<key>dJVa</key>
	<string>dJVa.glif</string>
	<key>dJYa</key>
	<string>dJYa.glif</string>
	<key>dJa</key>
	<string>dJa.glif</string>
	<key>dJa.half</key>
	<string>dJa.half.glif</string>
	<key>dJhMa</key>
	<string>dJhMa.glif</string>
	<key>dJhNa</key>
	<string>dJhNa.glif</string>
	<key>dJhRa</key>
	<string>dJhRa.glif</string>
	<key>dJhYa</key>
	<string>dJhYa.glif</string>
	<key>dJha</key>
	<string>dJha.glif</string>
	<key>dJha.half</key>
	<string>dJha.half.glif</string>
	<key>dJha.half.nep</key>
	<string>dJha.half.nep.glif</string>
	<key>dJha.nep</key>
	<string>dJha.nep.glif</string>
	<key>dJja</key>
	<string>dJ_ja.glif</string>
	<key>dKCa</key>
	<string>dKCa.glif</string>
	<key>dKDa</key>
	<string>dKDa.glif</string>
	<key>dKJa</key>
	<string>dKJa.glif</string>
	<key>dKKa</key>
	<string>dKKa.glif</string>
	<key>dKKha</key>
	<string>dKKha.glif</string>
	<key>dKLa</key>
	<string>dKLa.glif</string>
	<key>dKMa</key>
	<string>dKMa.glif</string>
	<key>dKNa</key>
	<string>dKNa.glif</string>
	<key>dKNna</key>
	<string>dKNna.glif</string>
	<key>dKPRa</key>
	<string>dKPRa.glif</string>
	<key>dKPa</key>
	<string>dKPa.glif</string>
	<key>dKPha</key>
	<string>dKPha.glif</string>
	<key>dKRa</key>
	<string>dKRa.glif</string>
	<key>dKRa.nep</key>
	<string>dKRa.nep.glif</string>
	<key>dKSDda</key>
	<string>dKSDda.glif</string>
	<key>dKSPLa</key>
	<string>dKSPLa.glif</string>
	<key>dKSPRa</key>
	<string>dKSPRa.glif</string>
	<key>dKSTa</key>
	<string>dKSTa.glif</string>
	<key>dKSTta</key>
	<string>dKSTta.glif</string>
	<key>dKSa</key>
	<string>dKSa.glif</string>
	<key>dKSha</key>
	<string>dKSha.glif</string>
	<key>dKSsMa</key>
	<string>dKSsMa.glif</string>
	<key>dKSsMa.half</key>
	<string>dKSsMa.half.glif</string>
	<key>dKSsRa</key>
	<string>dKSsRa.glif</string>
	<key>dKSsVa</key>
	<string>dKSsVa.glif</string>
	<key>dKSsYa</key>
	<string>dKSsYa.glif</string>
	<key>dKSsa</key>
	<string>dKSsa.glif</string>
	<key>dKSsa.half</key>
	<string>dKSsa.half.glif</string>
	<key>dKTRa</key>
	<string>dKTRa.glif</string>
	<key>dKTVa</key>
	<string>dKTVa.glif</string>
	<key>dKTYa</key>
	<string>dKTYa.glif</string>
	<key>dKTa</key>
	<string>dKTa.glif</string>
	<key>dKTha</key>
	<string>dKTha.glif</string>
	<key>dKTta</key>
	<string>dKTta.glif</string>
	<key>dKVYa</key>
	<string>dKVYa.glif</string>
	<key>dKVa</key>
	<string>dKVa.glif</string>
	<key>dKYa</key>
	<string>dKYa.glif</string>
	<key>dKa</key>
	<string>dKa.glif</string>
	<key>dKa.half</key>
	<string>dKa.half.glif</string>
	<key>dKacombiningletter</key>
	<string>dKacombiningletter.glif</string>
	<key>dKhKha</key>
	<string>dKhKha.glif</string>
	<key>dKhMa</key>
	<string>dKhMa.glif</string>
	<key>dKhNa</key>
	<string>dKhNa.glif</string>
	<key>dKhRa</key>
	<string>dKhRa.glif</string>
	<key>dKhSha</key>
	<string>dKhSha.glif</string>
	<key>dKhTa</key>
	<string>dKhTa.glif</string>
	<key>dKhVa</key>
	<string>dKhVa.glif</string>
	<key>dKhYa</key>
	<string>dKhYa.glif</string>
	<key>dKha</key>
	<string>dKha.glif</string>
	<key>dKha.half</key>
	<string>dKha.half.glif</string>
	<key>dKhhMa</key>
	<string>dKhhMa.glif</string>
	<key>dKhhSa</key>
	<string>dKhhSa.glif</string>
	<key>dKhhSha</key>
	<string>dKhhSha.glif</string>
	<key>dKhhTa</key>
	<string>dKhhTa.glif</string>
	<key>dKhhVa</key>
	<string>dKhhVa.glif</string>
	<key>dKhhYa</key>
	<string>dKhhYa.glif</string>
	<key>dKhha</key>
	<string>dKhha.glif</string>
	<key>dKhha.half</key>
	<string>dKhha.half.glif</string>
	<key>dLBa</key>
	<string>dLBa.glif</string>
	<key>dLBha</key>
	<string>dLBha.glif</string>
	<key>dLBha.half</key>
	<string>dLBha.half.glif</string>
	<key>dLDRa</key>
	<string>dLDRa.glif</string>
	<key>dLDa</key>
	<string>dLDa.glif</string>
	<key>dLDda</key>
	<string>dLDda.glif</string>
	<key>dLDdha</key>
	<string>dLDdha.glif</string>
	<key>dLGa</key>
	<string>dLGa.glif</string>
	<key>dLHYa</key>
	<string>dLHYa.glif</string>
	<key>dLHa</key>
	<string>dLHa.glif</string>
	<key>dLJa</key>
	<string>dLJa.glif</string>
	<key>dLKYa</key>
	<string>dLKYa.glif</string>
	<key>dLKa</key>
	<string>dLKa.glif</string>
	<key>dLKha</key>
	<string>dLKha.glif</string>
	<key>dLLYa</key>
	<string>dLLYa.glif</string>
	<key>dLLa</key>
	<string>dLLa.glif</string>
	<key>dLLa.mar</key>
	<string>dLLa.mar.glif</string>
	<key>dLMa</key>
	<string>dLMa.glif</string>
	<key>dLPa</key>
	<string>dLPa.glif</string>
	<key>dLPha</key>
	<string>dLPha.glif</string>
	<key>dLRa</key>
	<string>dLRa.glif</string>
	<key>dLSa</key>
	<string>dLSa.glif</string>
	<key>dLTa</key>
	<string>dLTa.glif</string>
	<key>dLThYa</key>
	<string>dLThYa.glif</string>
	<key>dLTha</key>
	<string>dLTha.glif</string>
	<key>dLTta</key>
	<string>dLTta.glif</string>
	<key>dLTtha</key>
	<string>dLTtha.glif</string>
	<key>dLVDda</key>
	<string>dLVDda.glif</string>
	<key>dLVa</key>
	<string>dLVa.glif</string>
	<key>dLYa</key>
	<string>dLYa.glif</string>
	<key>dLZa</key>
	<string>dLZa.glif</string>
	<key>dLa</key>
	<string>dLa.glif</string>
	<key>dLa.half</key>
	<string>dLa.half.glif</string>
	<key>dLa.mar</key>
	<string>dLa.mar.glif</string>
	<key>dLlYa</key>
	<string>dL_lY_a.glif</string>
	<key>dLla</key>
	<string>dL_la.glif</string>
	<key>dLla.half</key>
	<string>dLla.half.glif</string>
	<key>dLlla</key>
	<string>dLlla.glif</string>
	<key>dLlla.half</key>
	<string>dLlla.half.glif</string>
	<key>dLlvocalic</key>
	<string>dLlvocalic.glif</string>
	<key>dLlvocalicsign</key>
	<string>dLlvocalicsign.glif</string>
	<key>dLvocalic</key>
	<string>dLvocalic.glif</string>
	<key>dLvocalicsign</key>
	<string>dLvocalicsign.glif</string>
	<key>dMBRa</key>
	<string>dMBRa.glif</string>
	<key>dMBYa</key>
	<string>dMBYa.glif</string>
	<key>dMBa</key>
	<string>dMBa.glif</string>
	<key>dMBhRa</key>
	<string>dMBhRa.glif</string>
	<key>dMBha</key>
	<string>dMBha.glif</string>
	<key>dMBha.half</key>
	<string>dMBha.half.glif</string>
	<key>dMDa</key>
	<string>dMDa.glif</string>
	<key>dMHa</key>
	<string>dMHa.glif</string>
	<key>dMLa</key>
	<string>dMLa.glif</string>
	<key>dMMa</key>
	<string>dMMa.glif</string>
	<key>dMNa</key>
	<string>dMNa.glif</string>
	<key>dMPRa</key>
	<string>dMPRa.glif</string>
	<key>dMPa</key>
	<string>dMPa.glif</string>
	<key>dMRa</key>
	<string>dMRa.glif</string>
	<key>dMSa</key>
	<string>dMSa.glif</string>
	<key>dMSha</key>
	<string>dMSha.glif</string>
	<key>dMTa</key>
	<string>dMTa.glif</string>
	<key>dMVa</key>
	<string>dMVa.glif</string>
	<key>dMYa</key>
	<string>dMYa.glif</string>
	<key>dMa</key>
	<string>dMa.glif</string>
	<key>dMa.half</key>
	<string>dMa.half.glif</string>
	<key>dNBha</key>
	<string>dNBha.glif</string>
	<key>dNBha.half</key>
	<string>dNBha.half.glif</string>
	<key>dNCa</key>
	<string>dNCa.glif</string>
	<key>dNDRa</key>
	<string>dNDRa.glif</string>
	<key>dNDVa</key>
	<string>dNDVa.glif</string>
	<key>dNDa</key>
	<string>dNDa.glif</string>
	<key>dNDda</key>
	<string>dNDda.glif</string>
	<key>dNDhRa</key>
	<string>dNDhRa.glif</string>
	<key>dNDhVa</key>
	<string>dNDhVa.glif</string>
	<key>dNDhYa</key>
	<string>dNDhYa.glif</string>
	<key>dNDha</key>
	<string>dNDha.glif</string>
	<key>dNHYa</key>
	<string>dNHYa.glif</string>
	<key>dNHa</key>
	<string>dNHa.glif</string>
	<key>dNKSa</key>
	<string>dNKSa.glif</string>
	<key>dNKa</key>
	<string>dNKa.glif</string>
	<key>dNMYa</key>
	<string>dNMYa.glif</string>
	<key>dNMa</key>
	<string>dNMa.glif</string>
	<key>dNNYa</key>
	<string>dNNYa.glif</string>
	<key>dNNa</key>
	<string>dNNa.glif</string>
	<key>dNPRa</key>
	<string>dNPRa.glif</string>
	<key>dNPa</key>
	<string>dNPa.glif</string>
	<key>dNPha</key>
	<string>dNPha.glif</string>
	<key>dNRa</key>
	<string>dNRa.glif</string>
	<key>dNSTta</key>
	<string>dNSTta.glif</string>
	<key>dNSa</key>
	<string>dNSa.glif</string>
	<key>dNSa.half</key>
	<string>dNSa.half.glif</string>
	<key>dNTRa</key>
	<string>dNTRa.glif</string>
	<key>dNTSa</key>
	<string>dNTSa.glif</string>
	<key>dNTYa</key>
	<string>dNTYa.glif</string>
	<key>dNTa</key>
	<string>dNTa.glif</string>
	<key>dNThVa</key>
	<string>dNThVa.glif</string>
	<key>dNThYa</key>
	<string>dNThYa.glif</string>
	<key>dNTha</key>
	<string>dNTha.glif</string>
	<key>dNTta</key>
	<string>dNTta.glif</string>
	<key>dNVa</key>
	<string>dNVa.glif</string>
	<key>dNYa</key>
	<string>dNYa.glif</string>
	<key>dNa</key>
	<string>dNa.glif</string>
	<key>dNa.half</key>
	<string>dNa.half.glif</string>
	<key>dNacombiningletter</key>
	<string>dNacombiningletter.glif</string>
	<key>dNgGa</key>
	<string>dNgGa.glif</string>
	<key>dNgGha</key>
	<string>dNgGha.glif</string>
	<key>dNgKSsa</key>
	<string>dNgKSsa.glif</string>
	<key>dNgKa</key>
	<string>dNgKa.glif</string>
	<key>dNgKha</key>
	<string>dNgKha.glif</string>
	<key>dNgMa</key>
	<string>dNgMa.glif</string>
	<key>dNga</key>
	<string>dNga.glif</string>
	<key>dNga.half</key>
	<string>dNga.half.glif</string>
	<key>dNine</key>
	<string>dNine.glif</string>
	<key>dNinecombiningdigit</key>
	<string>dNinecombiningdigit.glif</string>
	<key>dNnDda</key>
	<string>dNnDda.glif</string>
	<key>dNnDdha</key>
	<string>dNnDdha.glif</string>
	<key>dNnMa</key>
	<string>dNnMa.glif</string>
	<key>dNnNna</key>
	<string>dNnNna.glif</string>
	<key>dNnRa</key>
	<string>dNnRa.glif</string>
	<key>dNnTha</key>
	<string>dNnTha.glif</string>
	<key>dNnTta</key>
	<string>dNnTta.glif</string>
	<key>dNnVa</key>
	<string>dNnVa.glif</string>
	<key>dNnYa</key>
	<string>dN_nY_a.glif</string>
	<key>dNna</key>
	<string>dN_na.glif</string>
	<key>dNna.half</key>
	<string>dNna.half.glif</string>
	<key>dNnna</key>
	<string>dNnna.glif</string>
	<key>dNnna.half</key>
	<string>dNnna.half.glif</string>
	<key>dNukta</key>
	<string>dNukta.glif</string>
	<key>dNyCYa</key>
	<string>dNyCYa.glif</string>
	<key>dNyCa</key>
	<string>dNyCa.glif</string>
	<key>dNyCha</key>
	<string>dNyCha.glif</string>
	<key>dNyJYa</key>
	<string>dNyJYa.glif</string>
	<key>dNyJa</key>
	<string>dNyJa.glif</string>
	<key>dNyRa</key>
	<string>dNyRa.glif</string>
	<key>dNySha</key>
	<string>dNySha.glif</string>
	<key>dNya</key>
	<string>dN_ya.glif</string>
	<key>dNya.half</key>
	<string>dNya.half.glif</string>
	<key>dO</key>
	<string>dO.glif</string>
	<key>dOcandra</key>
	<string>dOcandra.glif</string>
	<key>dOcandrasign</key>
	<string>dOcandrasign.glif</string>
	<key>dOe</key>
	<string>dOe.glif</string>
	<key>dOesign</key>
	<string>dOesign.glif</string>
	<key>dOm</key>
	<string>dOm.glif</string>
	<key>dOne</key>
	<string>dOne.glif</string>
	<key>dOnecombiningdigit</key>
	<string>dOnecombiningdigit.glif</string>
	<key>dOoe</key>
	<string>dOoe.glif</string>
	<key>dOoesign</key>
	<string>dOoesign.glif</string>
	<key>dOshort</key>
	<string>dOshort.glif</string>
	<key>dOshortsign</key>
	<string>dOshortsign.glif</string>
	<key>dOsign</key>
	<string>dOsign.glif</string>
	<key>dOsignAnusvara</key>
	<string>dOsignAnusvara.glif</string>
	<key>dOsignReph.alt1</key>
	<string>dOsignReph.alt1.glif</string>
	<key>dOsignRephAnusvara</key>
	<string>dOsignRephAnusvara.glif</string>
	<key>dPLa</key>
	<string>dPLa.glif</string>
	<key>dPMa</key>
	<string>dPMa.glif</string>
	<key>dPNa</key>
	<string>dPNa.glif</string>
	<key>dPPa</key>
	<string>dPPa.glif</string>
	<key>dPPha</key>
	<string>dPPha.glif</string>
	<key>dPRa</key>
	<string>dPRa.glif</string>
	<key>dPSa</key>
	<string>dPSa.glif</string>
	<key>dPTYa</key>
	<string>dPTYa.glif</string>
	<key>dPTa</key>
	<string>dPTa.glif</string>
	<key>dPTta</key>
	<string>dPTta.glif</string>
	<key>dPVa</key>
	<string>dPVa.glif</string>
	<key>dPYa</key>
	<string>dPYa.glif</string>
	<key>dPa</key>
	<string>dPa.glif</string>
	<key>dPa.half</key>
	<string>dPa.half.glif</string>
	<key>dPacombiningletter</key>
	<string>dPacombiningletter.glif</string>
	<key>dPhJa</key>
	<string>dPhJa.glif</string>
	<key>dPhLa</key>
	<string>dPhLa.glif</string>
	<key>dPhPa</key>
	<string>dPhPa.glif</string>
	<key>dPhPha</key>
	<string>dPhPha.glif</string>
	<key>dPhRa</key>
	<string>dPhRa.glif</string>
	<key>dPhSha</key>
	<string>dPhSha.glif</string>
	<key>dPhTa</key>
	<string>dPhTa.glif</string>
	<key>dPhTta</key>
	<string>dPhTta.glif</string>
	<key>dPhYa</key>
	<string>dPhYa.glif</string>
	<key>dPha</key>
	<string>dPha.glif</string>
	<key>dPha.half</key>
	<string>dPha.half.glif</string>
	<key>dPushpika</key>
	<string>dPushpika.glif</string>
	<key>dQBa</key>
	<string>dQBa.glif</string>
	<key>dQFa</key>
	<string>dQFa.glif</string>
	<key>dQMa</key>
	<string>dQMa.glif</string>
	<key>dQPha</key>
	<string>dQPha.glif</string>
	<key>dQQa</key>
	<string>dQQa.glif</string>
	<key>dQTa</key>
	<string>dQTa.glif</string>
	<key>dQa</key>
	<string>dQa.glif</string>
	<key>dQa.half</key>
	<string>dQa.half.glif</string>
	<key>dRa</key>
	<string>dRa.glif</string>
	<key>dRaUsign</key>
	<string>dRaUsign.glif</string>
	<key>dRaUusign</key>
	<string>dRaUusign.glif</string>
	<key>dRacombiningletter</key>
	<string>dRacombiningletter.glif</string>
	<key>dRakar</key>
	<string>dRakar.glif</string>
	<key>dRakar.alt</key>
	<string>dRakar.alt.glif</string>
	<key>dReph</key>
	<string>dReph.glif</string>
	<key>dReph.alt</key>
	<string>dReph.alt.glif</string>
	<key>dRephAnusvara</key>
	<string>dRephAnusvara.glif</string>
	<key>dRha</key>
	<string>dRha.glif</string>
	<key>dRra</key>
	<string>dRra.glif</string>
	<key>dRrvocalic</key>
	<string>dRrvocalic.glif</string>
	<key>dRrvocalicsign</key>
	<string>dRrvocalicsign.glif</string>
	<key>dRvocalic</key>
	<string>dRvocalic.glif</string>
	<key>dRvocalicsign</key>
	<string>dRvocalicsign.glif</string>
	<key>dSBa</key>
	<string>dSBa.glif</string>
	<key>dSDa</key>
	<string>dSDa.glif</string>
	<key>dSJa</key>
	<string>dSJa.glif</string>
	<key>dSKRa</key>
	<string>dSKRa.glif</string>
	<key>dSKVa</key>
	<string>dSKVa.glif</string>
	<key>dSKa</key>
	<string>dSKa.glif</string>
	<key>dSKha</key>
	<string>dSKha.glif</string>
	<key>dSLa</key>
	<string>dSLa.glif</string>
	<key>dSMYa</key>
	<string>dSMYa.glif</string>
	<key>dSMa</key>
	<string>dSMa.glif</string>
	<key>dSNa</key>
	<string>dSNa.glif</string>
	<key>dSPRa</key>
	<string>dSPRa.glif</string>
	<key>dSPa</key>
	<string>dSPa.glif</string>
	<key>dSPha</key>
	<string>dSPha.glif</string>
	<key>dSRa</key>
	<string>dSRa.glif</string>
	<key>dSSa</key>
	<string>dSSa.glif</string>
	<key>dSTRa</key>
	<string>dSTRa.glif</string>
	<key>dSTVa</key>
	<string>dSTVa.glif</string>
	<key>dSTYa</key>
	<string>dSTYa.glif</string>
	<key>dSTa</key>
	<string>dSTa.glif</string>
	<key>dSThYa</key>
	<string>dSThYa.glif</string>
	<key>dSTha</key>
	<string>dSTha.glif</string>
	<key>dSTta</key>
	<string>dSTta.glif</string>
	<key>dSVa</key>
	<string>dSVa.glif</string>
	<key>dSYa</key>
	<string>dSYa.glif</string>
	<key>dSa</key>
	<string>dSa.glif</string>
	<key>dSa.half</key>
	<string>dSa.half.glif</string>
	<key>dSeven</key>
	<string>dSeven.glif</string>
	<key>dSevencombiningdigit</key>
	<string>dSevencombiningdigit.glif</string>
	<key>dShCa</key>
	<string>dShCa.glif</string>
	<key>dShCha</key>
	<string>dShCha.glif</string>
	<key>dShKa</key>
	<string>dShKa.glif</string>
	<key>dShLa</key>
	<string>dShLa.glif</string>
	<key>dShMa</key>
	<string>dShMa.glif</string>
	<key>dShNa</key>
	<string>dShNa.glif</string>
	<key>dShQa</key>
	<string>dShQa.glif</string>
	<key>dShRa</key>
	<string>dShRa.glif</string>
	<key>dShSha</key>
	<string>dShSha.glif</string>
	<key>dShTa</key>
	<string>dShTa.glif</string>
	<key>dShTta</key>
	<string>dShTta.glif</string>
	<key>dShVa</key>
	<string>dShVa.glif</string>
	<key>dShYa</key>
	<string>dShYa.glif</string>
	<key>dSha</key>
	<string>dSha.glif</string>
	<key>dSha.half</key>
	<string>dSha.half.glif</string>
	<key>dSha.half.alt</key>
	<string>dSha.half.alt.glif</string>
	<key>dSha.half.mar</key>
	<string>dSha.half.mar.glif</string>
	<key>dSha.mar</key>
	<string>dSha.mar.glif</string>
	<key>dShaRvocalicsign</key>
	<string>dShaRvocalicsign.glif</string>
	<key>dSix</key>
	<string>dSix.glif</string>
	<key>dSixcombiningdigit</key>
	<string>dSixcombiningdigit.glif</string>
	<key>dSpacingcandrabindu</key>
	<string>dSpacingcandrabindu.glif</string>
	<key>dSsKRa</key>
	<string>dSsKRa.glif</string>
	<key>dSsMYa</key>
	<string>dSsMYa.glif</string>
	<key>dSsMa</key>
	<string>dSsMa.glif</string>
	<key>dSsNnYa</key>
	<string>dSsNnYa.glif</string>
	<key>dSsNna</key>
	<string>dSsNna.glif</string>
	<key>dSsPRa</key>
	<string>dSsPRa.glif</string>
	<key>dSsPa</key>
	<string>dSsPa.glif</string>
	<key>dSsPha</key>
	<string>dSsPha.glif</string>
	<key>dSsRa</key>
	<string>dSsRa.glif</string>
	<key>dSsSsa</key>
	<string>dSsSsa.glif</string>
	<key>dSsTta</key>
	<string>dSsTta.glif</string>
	<key>dSsTtha</key>
	<string>dSsTtha.glif</string>
	<key>dSsVa</key>
	<string>dSsVa.glif</string>
	<key>dSsYa</key>
	<string>dSsYa.glif</string>
	<key>dSsa</key>
	<string>dS_sa.glif</string>
	<key>dSsa.half</key>
	<string>dSsa.half.glif</string>
	<key>dTKRa</key>
	<string>dTKRa.glif</string>
	<key>dTKSsa</key>
	<string>dTKSsa.glif</string>
	<key>dTKVa</key>
	<string>dTKVa.glif</string>
	<key>dTKYa</key>
	<string>dTKYa.glif</string>
	<key>dTKa</key>
	<string>dTKa.glif</string>
	<key>dTKhNa</key>
	<string>dTKhNa.glif</string>
	<key>dTKhRa</key>
	<string>dTKhRa.glif</string>
	<key>dTKha</key>
	<string>dTKha.glif</string>
	<key>dTLa</key>
	<string>dTLa.glif</string>
	<key>dTMYa</key>
	<string>dTMYa.glif</string>
	<key>dTMa</key>
	<string>dTMa.glif</string>
	<key>dTNYa</key>
	<string>dTNYa.glif</string>
	<key>dTNa</key>
	<string>dTNa.glif</string>
	<key>dTPLa</key>
	<string>dTPLa.glif</string>
	<key>dTPRa</key>
	<string>dTPRa.glif</string>
	<key>dTPa</key>
	<string>dTPa.glif</string>
	<key>dTPha</key>
	<string>dTPha.glif</string>
	<key>dTRYa</key>
	<string>dTRYa.glif</string>
	<key>dTRa</key>
	<string>dTRa.glif</string>
	<key>dTRa.half</key>
	<string>dTRa.half.glif</string>
	<key>dTSNa</key>
	<string>dTSNa.glif</string>
	<key>dTSVa</key>
	<string>dTSVa.glif</string>
	<key>dTSYa</key>
	<string>dTSYa.glif</string>
	<key>dTSa</key>
	<string>dTSa.glif</string>
	<key>dTTVa</key>
	<string>dTTVa.glif</string>
	<key>dTTYa</key>
	<string>dTTYa.glif</string>
	<key>dTTa</key>
	<string>dTTa.glif</string>
	<key>dTTa.half</key>
	<string>dTTa.half.glif</string>
	<key>dTTha</key>
	<string>dTTha.glif</string>
	<key>dTVa</key>
	<string>dTVa.glif</string>
	<key>dTYa</key>
	<string>dTYa.glif</string>
	<key>dTa</key>
	<string>dTa.glif</string>
	<key>dTa.half</key>
	<string>dTa.half.glif</string>
	<key>dThRa</key>
	<string>dThRa.glif</string>
	<key>dThVa</key>
	<string>dThVa.glif</string>
	<key>dThYa</key>
	<string>dThYa.glif</string>
	<key>dTha</key>
	<string>dTha.glif</string>
	<key>dTha.half</key>
	<string>dTha.half.glif</string>
	<key>dThree</key>
	<string>dThree.glif</string>
	<key>dThreecombiningdigit</key>
	<string>dThreecombiningdigit.glif</string>
	<key>dTtTta</key>
	<string>dTtTta.glif</string>
	<key>dTtTtha</key>
	<string>dTtTtha.glif</string>
	<key>dTtVa</key>
	<string>dT_tV_a.glif</string>
	<key>dTtYa</key>
	<string>dT_tY_a.glif</string>
	<key>dTta</key>
	<string>dT_ta.glif</string>
	<key>dTta.half</key>
	<string>dT_ta.half.glif</string>
	<key>dTthTtha</key>
	<string>dTthTtha.glif</string>
	<key>dTthYa</key>
	<string>dTthYa.glif</string>
	<key>dTtha</key>
	<string>dT_tha.glif</string>
	<key>dTtha.half</key>
	<string>dTtha.half.glif</string>
	<key>dTwo</key>
	<string>dTwo.glif</string>
	<key>dTwocombiningdigit</key>
	<string>dTwocombiningdigit.glif</string>
	<key>dU</key>
	<string>dU.glif</string>
	<key>dUcombiningletter</key>
	<string>dUcombiningletter.glif</string>
	<key>dUdatta</key>
	<string>dUdatta.glif</string>
	<key>dUe</key>
	<string>dUe.glif</string>
	<key>dUesign</key>
	<string>dUesign.glif</string>
	<key>dUsign</key>
	<string>dUsign.glif</string>
	<key>dUsign.alt</key>
	<string>dUsign.alt.glif</string>
	<key>dUsign.alt2</key>
	<string>dUsign.alt2.glif</string>
	<key>dUu</key>
	<string>dUu.glif</string>
	<key>dUue</key>
	<string>dUue.glif</string>
	<key>dUuesign</key>
	<string>dUuesign.glif</string>
	<key>dUusign</key>
	<string>dUusign.glif</string>
	<key>dVHa</key>
	<string>dVHa.glif</string>
	<key>dVLa</key>
	<string>dVLa.glif</string>
	<key>dVRa</key>
	<string>dVRa.glif</string>
	<key>dVVa</key>
	<string>dVVa.glif</string>
	<key>dVYa</key>
	<string>dVYa.glif</string>
	<key>dVa</key>
	<string>dVa.glif</string>
	<key>dVa.half</key>
	<string>dVa.half.glif</string>
	<key>dVattuUlow</key>
	<string>dVattuUlow.glif</string>
	<key>dVattuUulow</key>
	<string>dVattuUulow.glif</string>
	<key>dVicombiningletter</key>
	<string>dVicombiningletter.glif</string>
	<key>dVirama</key>
	<string>dVirama.glif</string>
	<key>dVisarga</key>
	<string>dVisarga.glif</string>
	<key>dYRa</key>
	<string>dYRa.glif</string>
	<key>dYYa</key>
	<string>dYYa.glif</string>
	<key>dYa</key>
	<string>dYa.glif</string>
	<key>dYa.half</key>
	<string>dYa.half.glif</string>
	<key>dYaheavy</key>
	<string>dYaheavy.glif</string>
	<key>dYya</key>
	<string>dY_ya.glif</string>
	<key>dZYa</key>
	<string>dZYa.glif</string>
	<key>dZZa</key>
	<string>dZZa.glif</string>
	<key>dZa</key>
	<string>dZa.glif</string>
	<key>dZa.half</key>
	<string>dZa.half.glif</string>
	<key>dZero</key>
	<string>dZero.glif</string>
	<key>dZerocombiningdigit</key>
	<string>dZerocombiningdigit.glif</string>
	<key>dZha</key>
	<string>dZha.glif</string>
	<key>dZha.nep</key>
	<string>dZha.nep.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dottedcircle</key>
	<string>dottedcircle.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>highdef</key>
	<string>highdef.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>inr_currency</key>
	<string>inr_currency.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
