<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>2777C4B8-28CF-4E18-816B-E5A8A64F0BAA</key>
		<dict>
	</dict>
		<key>9038F23B-D43E-461B-9F57-51F4A7075990</key>
		<dict>
	</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<real>8</real>
		<key>GSRoughenHorizontal</key>
		<integer>15</integer>
		<key>GSRoughenSegmentLength</key>
		<integer>15</integer>
		<key>GSRoughenVertical</key>
		<integer>10</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>2777C4B8-28CF-4E18-816B-E5A8A64F0BAA</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>uni0000</string>
		<string>uni000D</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>overscore</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>dotlessi</string>
		<string>circumflex</string>
		<string>ring</string>
		<string>tilde</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>bullet</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fraction</string>
		<string>foursuperior</string>
		<string>aShort-deva</string>
		<string>a-deva</string>
		<string>aa-deva</string>
		<string>i-deva</string>
		<string>ii-deva</string>
		<string>u-deva</string>
		<string>uu-deva</string>
		<string>rVocalic-deva</string>
		<string>lVocalic-deva</string>
		<string>eShort-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
		<string>oShort-deva</string>
		<string>o-deva</string>
		<string>au-deva</string>
		<string>rrVocalic-deva</string>
		<string>llVocalic-deva</string>
		<string>ka-deva</string>
		<string>kha-deva</string>
		<string>ga-deva</string>
		<string>gha-deva</string>
		<string>nga-deva</string>
		<string>ca-deva</string>
		<string>cha-deva</string>
		<string>ja-deva</string>
		<string>jha-deva</string>
		<string>nya-deva</string>
		<string>tta-deva</string>
		<string>ttha-deva</string>
		<string>dda-deva</string>
		<string>ddha-deva</string>
		<string>nna-deva</string>
		<string>ta-deva</string>
		<string>tha-deva</string>
		<string>da-deva</string>
		<string>dha-deva</string>
		<string>na-deva</string>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ba-deva</string>
		<string>bha-deva</string>
		<string>ma-deva</string>
		<string>ya-deva</string>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>la-deva</string>
		<string>lla-deva</string>
		<string>va-deva</string>
		<string>sha-deva</string>
		<string>ssa-deva</string>
		<string>sa-deva</string>
		<string>ha-deva</string>
		<string>gga-deva</string>
		<string>jja-deva</string>
		<string>ddda-deva</string>
		<string>bba-deva</string>
		<string>u-deva.001</string>
		<string>rrVocalic-deva.001</string>
		<string>va-deva.001</string>
		<string>ha-deva.001</string>
		<string>k_ka-deva</string>
		<string>k_kha-deva</string>
		<string>k_ca-deva</string>
		<string>k_ja-deva</string>
		<string>k_tta-deva</string>
		<string>k_nna-deva</string>
		<string>k_ta-deva</string>
		<string>k_t_ta-deva</string>
		<string>k_t_ya-deva</string>
		<string>k_t_ra-deva</string>
		<string>k_t_va-deva</string>
		<string>k_tha-deva</string>
		<string>k_da-deva</string>
		<string>k_na-deva</string>
		<string>k_pa-deva</string>
		<string>k_p_ra-deva</string>
		<string>k_pha-deva</string>
		<string>k_ma-deva</string>
		<string>k_ya-deva</string>
		<string>k_ra-deva</string>
		<string>k_la-deva</string>
		<string>k_va-deva</string>
		<string>k_v_ya-deva</string>
		<string>k_sha-deva</string>
		<string>k_ssa-deva</string>
		<string>k_ss_ma-deva</string>
		<string>k_ss_ya-deva</string>
		<string>k_ss_ra-deva</string>
		<string>k_ss_va-deva</string>
		<string>k_sa-deva</string>
		<string>k_s_tta-deva</string>
		<string>k_s_dda-deva</string>
		<string>k_s_ta-deva</string>
		<string>k_s_pa-deva</string>
		<string>k_s_p_ra-deva</string>
		<string>k_s_p_la-deva</string>
		<string>kh_kha-deva</string>
		<string>kh_ta-deva</string>
		<string>kh_na-deva</string>
		<string>kh_ma-deva</string>
		<string>kh_ya-deva</string>
		<string>kh_ra-deva</string>
		<string>kh_va-deva</string>
		<string>kh_sha-deva</string>
		<string>g_ga-deva</string>
		<string>g_gha-deva</string>
		<string>g_ja-deva</string>
		<string>g_nna-deva</string>
		<string>g_da-deva</string>
		<string>g_dha-deva</string>
		<string>g_dh_ya-deva</string>
		<string>g_dh_va-deva</string>
		<string>g_na-deva</string>
		<string>g_n_ya-deva</string>
		<string>g_ba-deva</string>
		<string>g_bha-deva</string>
		<string>g_bh_ya-deva</string>
		<string>g_ma-deva</string>
		<string>g_ya-deva</string>
		<string>g_ra-deva</string>
		<string>g_r_ya-deva</string>
		<string>g_la-deva</string>
		<string>g_va-deva</string>
		<string>g_sa-deva</string>
		<string>gh_na-deva</string>
		<string>gh_ma-deva</string>
		<string>gh_ya-deva</string>
		<string>gh_ra-deva</string>
		<string>ng_ka-deva</string>
		<string>ng_k_t_ta-deva</string>
		<string>ng_k_ra-deva</string>
		<string>ng_k_ssa-deva</string>
		<string>ng_kha-deva</string>
		<string>ng_ga-deva</string>
		<string>ng_g_ra-deva</string>
		<string>ng_gha-deva</string>
		<string>ng_gh_ra-deva</string>
		<string>ng_ma-deva</string>
		<string>ng_ya-deva</string>
		<string>c_ca-deva</string>
		<string>c_cha-deva</string>
		<string>c_ch_va-deva</string>
		<string>c_na-deva</string>
		<string>c_ma-deva</string>
		<string>c_ya-deva</string>
		<string>c_ra-deva</string>
		<string>ch_na-deva</string>
		<string>ch_ya-deva</string>
		<string>ch_va-deva</string>
		<string>j_ka-deva</string>
		<string>j_ja-deva</string>
		<string>j_j_nya-deva</string>
		<string>j_j_ya-deva</string>
		<string>j_j_va-deva</string>
		<string>j_jha-deva</string>
		<string>j_nya-deva</string>
		<string>j_ny_ya-deva</string>
		<string>j_tta-deva</string>
		<string>j_dda-deva</string>
		<string>j_ta-deva</string>
		<string>j_da-deva</string>
		<string>j_na-deva</string>
		<string>j_ba-deva</string>
		<string>j_ma-deva</string>
		<string>j_ya-deva</string>
		<string>j_ra-deva</string>
		<string>j_va-deva</string>
		<string>jh_na-deva</string>
		<string>jh_ma-deva</string>
		<string>jh_ya-deva</string>
		<string>jh_ra-deva</string>
		<string>ny_ca-deva</string>
		<string>ny_c_ya-deva</string>
		<string>ny_cha-deva</string>
		<string>ny_ja-deva</string>
		<string>ny_j_ya-deva</string>
		<string>ny_ra-deva</string>
		<string>ny_sha-deva</string>
		<string>tt_tta-deva</string>
		<string>tt_tt_ya-deva</string>
		<string>tt_ttha-deva</string>
		<string>tt_ddha-deva</string>
		<string>tt_na-deva</string>
		<string>tt_ya-deva</string>
		<string>tt_va-deva</string>
		<string>tth_ttha-deva</string>
		<string>tth_tth_ya-deva</string>
		<string>tth_na-deva</string>
		<string>tth_ya-deva</string>
		<string>dd_gha-deva</string>
		<string>dd_tta-deva</string>
		<string>dd_dda-deva</string>
		<string>dd_dd_ya-deva</string>
		<string>dd_ddha-deva</string>
		<string>dd_na-deva</string>
		<string>dd_ma-deva</string>
		<string>dd_ya-deva</string>
		<string>ddh_ddha-deva</string>
		<string>ddh_ddh_ya-deva</string>
		<string>ddh_na-deva</string>
		<string>ddh_ya-deva</string>
		<string>nn_tta-deva</string>
		<string>nn_ttha-deva</string>
		<string>nn_dda-deva</string>
		<string>nn_ddha-deva</string>
		<string>nn_nna-deva</string>
		<string>nn_ma-deva</string>
		<string>nn_ya-deva</string>
		<string>nn_ra-deva</string>
		<string>nn_va-deva</string>
		<string>t_ka-deva</string>
		<string>t_k_ya-deva</string>
		<string>t_k_ra-deva</string>
		<string>t_k_va-deva</string>
		<string>t_k_ssa-deva</string>
		<string>t_kha-deva</string>
		<string>t_kh_na-deva</string>
		<string>t_kh_ra-deva</string>
		<string>t_ta-deva</string>
		<string>t_t_ya-deva</string>
		<string>t_t_va-deva</string>
		<string>t_tha-deva</string>
		<string>t_na-deva</string>
		<string>t_n_ya-deva</string>
		<string>t_pa-deva</string>
		<string>t_p_ra-deva</string>
		<string>t_p_la-deva</string>
		<string>t_pha-deva</string>
		<string>t_ma-deva</string>
		<string>t_m_ya-deva</string>
		<string>t_ya-deva</string>
		<string>t_ra-deva</string>
		<string>t_r_ya-deva</string>
		<string>t_la-deva</string>
		<string>t_va-deva</string>
		<string>t_sa-deva</string>
		<string>t_s_na-deva</string>
		<string>t_s_ya-deva</string>
		<string>t_s_va-deva</string>
		<string>th_na-deva</string>
		<string>th_ya-deva</string>
		<string>th_ra-deva</string>
		<string>th_va-deva</string>
		<string>d_matra_vocalicR-deva</string>
		<string>d_ga-deva</string>
		<string>d_g_ra-deva</string>
		<string>d_gha-deva</string>
		<string>d_da-deva</string>
		<string>d_d_ya-deva</string>
		<string>d_dha-deva</string>
		<string>d_dh_ya-deva</string>
		<string>d_na-deva</string>
		<string>d_ba-deva</string>
		<string>d_b_ra-deva</string>
		<string>d_bha-deva</string>
		<string>d_bh_ya-deva</string>
		<string>d_ma-deva</string>
		<string>d_ya-deva</string>
		<string>d_ra-deva</string>
		<string>d_r_ya-deva</string>
		<string>d_va-deva</string>
		<string>d_v_ya-deva</string>
		<string>d_v_ra-deva</string>
		<string>dh_na-deva</string>
		<string>dh_n_ya-deva</string>
		<string>dh_ma-deva</string>
		<string>dh_ya-deva</string>
		<string>dh_ra-deva</string>
		<string>dh_va-deva</string>
		<string>n_ka-deva</string>
		<string>n_k_sa-deva</string>
		<string>n_ca-deva</string>
		<string>n_tta-deva</string>
		<string>n_dda-deva</string>
		<string>n_ta-deva</string>
		<string>n_t_ya-deva</string>
		<string>n_t_ra-deva</string>
		<string>n_t_sa-deva</string>
		<string>n_tha-deva</string>
		<string>n_th_ya-deva</string>
		<string>n_th_va-deva</string>
		<string>n_da-deva</string>
		<string>n_d_ra-deva</string>
		<string>n_d_va-deva</string>
		<string>n_dha-deva</string>
		<string>n_dh_ya-deva</string>
		<string>n_dh_ra-deva</string>
		<string>n_dh_va-deva</string>
		<string>n_na-deva</string>
		<string>n_n_ya-deva</string>
		<string>n_pa-deva</string>
		<string>n_p_ra-deva</string>
		<string>n_pha-deva</string>
		<string>n_bha-deva</string>
		<string>n_ma-deva</string>
		<string>n_m_ya-deva</string>
		<string>n_ya-deva</string>
		<string>n_ra-deva</string>
		<string>n_va-deva</string>
		<string>n_sa-deva</string>
		<string>n_s_tta-deva</string>
		<string>n_ha-deva</string>
		<string>n_h_ya-deva</string>
		<string>p_tta-deva</string>
		<string>p_ta-deva</string>
		<string>p_t_ya-deva</string>
		<string>p_na-deva</string>
		<string>p_pa-deva</string>
		<string>p_pha-deva</string>
		<string>p_ma-deva</string>
		<string>p_ya-deva</string>
		<string>p_ra-deva</string>
		<string>p_la-deva</string>
		<string>p_va-deva</string>
		<string>p_sa-deva</string>
		<string>ph_ja-deva</string>
		<string>ph_tta-deva</string>
		<string>ph_ta-deva</string>
		<string>ph_na-deva</string>
		<string>ph_pa-deva</string>
		<string>ph_pha-deva</string>
		<string>ph_ya-deva</string>
		<string>ph_ra-deva</string>
		<string>ph_la-deva</string>
		<string>ph_sha-deva</string>
		<string>b_ja-deva</string>
		<string>b_j_ya-deva</string>
		<string>b_ta-deva</string>
		<string>b_da-deva</string>
		<string>b_dha-deva</string>
		<string>b_dh_va-deva</string>
		<string>b_na-deva</string>
		<string>b_ba-deva</string>
		<string>b_bha-deva</string>
		<string>b_bh_ra-deva</string>
		<string>b_ya-deva</string>
		<string>b_ra-deva</string>
		<string>b_la-deva</string>
		<string>b_l_ya-deva</string>
		<string>b_va-deva</string>
		<string>b_sha-deva</string>
		<string>b_sa-deva</string>
		<string>b_za-deva</string>
		<string>bh_na-deva</string>
		<string>bh_ya-deva</string>
		<string>bh_ra-deva</string>
		<string>bh_r_ya-deva</string>
		<string>bh_va-deva</string>
		<string>m_ta-deva</string>
		<string>m_da-deva</string>
		<string>m_na-deva</string>
		<string>m_pa-deva</string>
		<string>m_p_ra-deva</string>
		<string>m_ba-deva</string>
		<string>m_b_ya-deva</string>
		<string>m_b_ra-deva</string>
		<string>m_bha-deva</string>
		<string>m_bh_ra-deva</string>
		<string>m_ma-deva</string>
		<string>m_ya-deva</string>
		<string>m_ra-deva</string>
		<string>m_la-deva</string>
		<string>m_va-deva</string>
		<string>m_sha-deva</string>
		<string>m_sa-deva</string>
		<string>m_ha-deva</string>
		<string>y_na-deva</string>
		<string>y_ya-deva</string>
		<string>y_ra-deva</string>
		<string>r_matra_u-deva</string>
		<string>r_matra_uu-deva</string>
		<string>rr_ya-deva</string>
		<string>rr_ha-deva</string>
		<string>l_ka-deva</string>
		<string>l_k_ya-deva</string>
		<string>l_kha-deva</string>
		<string>l_ga-deva</string>
		<string>l_ja-deva</string>
		<string>l_tta-deva</string>
		<string>l_ttha-deva</string>
		<string>l_dda-deva</string>
		<string>l_ddha-deva</string>
		<string>l_ta-deva</string>
		<string>l_tha-deva</string>
		<string>l_th_ya-deva</string>
		<string>l_da-deva</string>
		<string>l_d_ra-deva</string>
		<string>l_pa-deva</string>
		<string>l_pha-deva</string>
		<string>l_ba-deva</string>
		<string>l_bha-deva</string>
		<string>l_ma-deva</string>
		<string>l_ya-deva</string>
		<string>l_ra-deva</string>
		<string>l_la-deva</string>
		<string>l_l_ya-deva</string>
		<string>l_va-deva</string>
		<string>l_v_dda-deva</string>
		<string>l_sa-deva</string>
		<string>l_ha-deva</string>
		<string>l_h_ya-deva</string>
		<string>l_za-deva</string>
		<string>ll_ya-deva</string>
		<string>v_na-deva</string>
		<string>v_ya-deva</string>
		<string>v_ra-deva</string>
		<string>v_la-deva</string>
		<string>v_va-deva</string>
		<string>v_ha-deva</string>
		<string>sh_matra_vocalicR-deva</string>
		<string>sh_ka-deva</string>
		<string>sh_ca-deva</string>
		<string>sh_cha-deva</string>
		<string>sh_tta-deva</string>
		<string>sh_ta-deva</string>
		<string>sh_na-deva</string>
		<string>sh_ma-deva</string>
		<string>sh_ya-deva</string>
		<string>sh_ra-deva</string>
		<string>sh_r_ya-deva</string>
		<string>sh_la-deva</string>
		<string>sh_va-deva</string>
		<string>sh_sha-deva</string>
		<string>sh_qa-deva</string>
		<string>ss_ka-deva</string>
		<string>ss_k_ra-deva</string>
		<string>ss_tta-deva</string>
		<string>ss_tt_ya-deva</string>
		<string>ss_tt_va-deva</string>
		<string>ss_tt_rakar-deva</string>
		<string>ss_ttha-deva</string>
		<string>ss_tth_ya-deva</string>
		<string>ss_tth_rakar-deva</string>
		<string>ss_nna-deva</string>
		<string>ss_nn_ya-deva</string>
		<string>ss_pa-deva</string>
		<string>ss_p_ra-deva</string>
		<string>ss_pha-deva</string>
		<string>ss_ma-deva</string>
		<string>ss_m_ya-deva</string>
		<string>ss_ya-deva</string>
		<string>ss_va-deva</string>
		<string>ss_ssa-deva</string>
		<string>s_ka-deva</string>
		<string>s_k_ra-deva</string>
		<string>s_k_va-deva</string>
		<string>s_kha-deva</string>
		<string>s_ja-deva</string>
		<string>s_tta-deva</string>
		<string>s_ta-deva</string>
		<string>s_t_ya-deva</string>
		<string>s_t_ra-deva</string>
		<string>s_t_va-deva</string>
		<string>s_tha-deva</string>
		<string>s_th_ya-deva</string>
		<string>s_da-deva</string>
		<string>s_na-deva</string>
		<string>s_pa-deva</string>
		<string>s_p_ra-deva</string>
		<string>s_pha-deva</string>
		<string>s_ba-deva</string>
		<string>s_ma-deva</string>
		<string>s_m_ya-deva</string>
		<string>s_ya-deva</string>
		<string>s_ra-deva</string>
		<string>s_la-deva</string>
		<string>s_va-deva</string>
		<string>s_sa-deva</string>
		<string>h_matra_vocalicR-deva</string>
		<string>h_nna-deva</string>
		<string>h_na-deva</string>
		<string>h_ma-deva</string>
		<string>h_m_ya-deva</string>
		<string>h_ya-deva</string>
		<string>h_ra-deva</string>
		<string>h_la-deva</string>
		<string>h_va-deva</string>
		<string>q_ta-deva</string>
		<string>q_pha-deva</string>
		<string>q_ba-deva</string>
		<string>q_ma-deva</string>
		<string>q_ra-deva</string>
		<string>q_qa-deva</string>
		<string>q_fa-deva</string>
		<string>khh_ta-deva</string>
		<string>khh_ma-deva</string>
		<string>khh_ya-deva</string>
		<string>khh_ra-deva</string>
		<string>khh_va-deva</string>
		<string>khh_sha-deva</string>
		<string>khh_sa-deva</string>
		<string>ghh_ra-deva</string>
		<string>z_ya-deva</string>
		<string>z_ra-deva</string>
		<string>z_za-deva</string>
		<string>f_ta-deva</string>
		<string>f_ra-deva</string>
		<string>f_sa-deva</string>
		<string>f_za-deva</string>
		<string>f_fa-deva</string>
		<string>yy_ra-deva</string>
		<string>k-deva</string>
		<string>kh-deva</string>
		<string>g-deva</string>
		<string>gh-deva</string>
		<string>c-deva</string>
		<string>ch-deva</string>
		<string>j-deva</string>
		<string>jh-deva</string>
		<string>ny-deva</string>
		<string>nn-deva</string>
		<string>t-deva</string>
		<string>th-deva</string>
		<string>dh-deva</string>
		<string>n-deva</string>
		<string>p-deva</string>
		<string>ph-deva</string>
		<string>b-deva</string>
		<string>bh-deva</string>
		<string>m-deva</string>
		<string>y-deva</string>
		<string>rr-deva</string>
		<string>l-deva</string>
		<string>ll-deva</string>
		<string>v-deva</string>
		<string>sh-deva</string>
		<string>ss-deva</string>
		<string>s-deva</string>
		<string>h-deva</string>
		<string>zero-deva</string>
		<string>one-deva</string>
		<string>two-deva</string>
		<string>three-deva</string>
		<string>four-deva</string>
		<string>five-deva</string>
		<string>six-deva</string>
		<string>seven-deva</string>
		<string>eight-deva</string>
		<string>nine-deva</string>
		<string>abbreviation-deva</string>
		<string>avagraha-deva</string>
		<string>om-deva</string>
		<string>dottedcircle</string>
		<string>rightFacingSvasti</string>
		<string>visarga-deva</string>
		<string>candraBindu-deva</string>
		<string>reph-deva</string>
		<string>uMatra-deva</string>
		<string>uuMatra-deva</string>
		<string>rVocalicMatra-deva</string>
		<string>rrVocalicMatra-deva</string>
		<string>eShortMatra-deva</string>
		<string>eMatra-deva</string>
		<string>aiMatra-deva</string>
		<string>halant-deva</string>
		<string>nukta-deva</string>
		<string>udatta-deva</string>
		<string>anudatta-deva</string>
		<string>grave-deva</string>
		<string>acute-deva</string>
		<string>lVocalicMatra-deva</string>
		<string>llVocalicMatra-deva</string>
		<string>aaiVowel-mtei</string>
		<string>aauVowel-mtei</string>
		<string>ahangkhudam-mtei</string>
		<string>anapVowel-mtei</string>
		<string>anji-mtei</string>
		<string>apuniyek-mtei</string>
		<string>atiya-mtei</string>
		<string>auVowel-mtei</string>
		<string>ba-mtei</string>
		<string>bham-mtei</string>
		<string>bindu-deva</string>
		<string>cha-mtei</string>
		<string>cheikhan-mtei</string>
		<string>cheikhei-mtei</string>
		<string>cheinapVowel-mtei</string>
		<string>chil-mtei</string>
		<string>dda-mtei</string>
		<string>ddha-mtei</string>
		<string>dhou-mtei</string>
		<string>dil-mtei</string>
		<string>e-mtei</string>
		<string>eight-mtei</string>
		<string>five-mtei</string>
		<string>four-mtei</string>
		<string>ghou-mtei</string>
		<string>gok-mtei</string>
		<string>huk-mtei</string>
		<string>i-mtei</string>
		<string>ifinal-mtei</string>
		<string>ii-sign</string>
		<string>iiVowel-mtei</string>
		<string>inapVowel-mtei</string>
		<string>jham-mtei</string>
		<string>jil-mtei</string>
		<string>khou-mtei</string>
		<string>kok-mtei</string>
		<string>kokfinal-mtei</string>
		<string>lai-mtei</string>
		<string>laifinal-mtei</string>
		<string>lumiyek-mtei</string>
		<string>mit-mtei</string>
		<string>mitfinal-mtei</string>
		<string>na-mtei</string>
		<string>nafinal-mtei</string>
		<string>newGlyph</string>
		<string>ngou-mtei</string>
		<string>ngoufinal-mtei</string>
		<string>nine-mtei</string>
		<string>nna-mtei</string>
		<string>nungVowel-mtei</string>
		<string>nya-mtei</string>
		<string>o-mtei</string>
		<string>onapVowel-mtei</string>
		<string>one-mtei</string>
		<string>pa-mtei</string>
		<string>pafinal-mtei</string>
		<string>pham-mtei</string>
		<string>rai-mtei</string>
		<string>repetitionSyllable-mtei</string>
		<string>repetitionWord-mtei</string>
		<string>sam-mtei</string>
		<string>seven-mtei</string>
		<string>sha-mtei</string>
		<string>six-mtei</string>
		<string>sounapVowel-mtei</string>
		<string>ssa-mtei</string>
		<string>thou-mtei</string>
		<string>three-mtei</string>
		<string>til-mtei</string>
		<string>tilfinal-mtei</string>
		<string>tta-mtei</string>
		<string>ttha-mtei</string>
		<string>two-mtei</string>
		<string>un-mtei</string>
		<string>unapVowel-mtei</string>
		<string>uuVowel-mtei</string>
		<string>virama-mtei</string>
		<string>visarga-mtei</string>
		<string>wai-mtei</string>
		<string>yang-mtei</string>
		<string>yenapVowel-mtei</string>
		<string>zero-mtei</string>
		<string>newGlyph.001</string>
		<string>newGlyph.002</string>
	</array>
</dict>
</plist>
