<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>20</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>7D009F26-9523-4D0C-936A-45D9328E47A0</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<real>400</real>
	<key>com.schriftgestaltung.widthValue</key>
	<real>5</real>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>uni0000</string>
		<string>uni000D</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>cent</string>
		<string>multiply</string>
		<string>divide</string>
		<string>apostrophe</string>
		<string>candrabinduinverteddeva</string>
		<string>candrabindudeva</string>
		<string>anusvaradeva</string>
		<string>visargadeva</string>
		<string>ashortdeva</string>
		<string>adeva</string>
		<string>aadeva</string>
		<string>ideva</string>
		<string>iideva</string>
		<string>udeva</string>
		<string>uudeva</string>
		<string>rvocalicdeva</string>
		<string>lvocalicdeva</string>
		<string>ecandradeva</string>
		<string>eshortdeva</string>
		<string>edeva</string>
		<string>aideva</string>
		<string>ocandradeva</string>
		<string>oshortdeva</string>
		<string>odeva</string>
		<string>audeva</string>
		<string>kadeva</string>
		<string>khadeva</string>
		<string>gadeva</string>
		<string>ghadeva</string>
		<string>ngadeva</string>
		<string>cadeva</string>
		<string>chadeva</string>
		<string>jadeva</string>
		<string>jhadeva</string>
		<string>nyadeva</string>
		<string>ttadeva</string>
		<string>tthadeva</string>
		<string>ddadeva</string>
		<string>ddhadeva</string>
		<string>nnadeva</string>
		<string>tadeva</string>
		<string>thadeva</string>
		<string>dadeva</string>
		<string>dhadeva</string>
		<string>nadeva</string>
		<string>nnnadeva</string>
		<string>padeva</string>
		<string>phadeva</string>
		<string>badeva</string>
		<string>bhadeva</string>
		<string>madeva</string>
		<string>yadeva</string>
		<string>radeva</string>
		<string>rradeva</string>
		<string>ladeva</string>
		<string>lladeva</string>
		<string>llladeva</string>
		<string>vadeva</string>
		<string>shadeva</string>
		<string>ssadeva</string>
		<string>sadeva</string>
		<string>hadeva</string>
		<string>oesigndeva</string>
		<string>ooesigndeva</string>
		<string>nuktadeva</string>
		<string>avagrahadeva</string>
		<string>aasigndeva</string>
		<string>isigndeva</string>
		<string>iisigndeva</string>
		<string>usigndeva</string>
		<string>uusigndeva</string>
		<string>rvocalicsigndeva</string>
		<string>rrvocalicsigndeva</string>
		<string>ecandrasigndeva</string>
		<string>eshortsigndeva</string>
		<string>esigndeva</string>
		<string>aisigndeva</string>
		<string>ocandrasigndeva</string>
		<string>oshortsigndeva</string>
		<string>osigndeva</string>
		<string>ausigndeva</string>
		<string>viramadeva</string>
		<string>eprishthamatrasigndeva</string>
		<string>awsigndeva</string>
		<string>omdeva</string>
		<string>udattadeva</string>
		<string>anudattadeva</string>
		<string>gravedeva</string>
		<string>acutedeva</string>
		<string>ecandralongsigndeva</string>
		<string>uesigndeva</string>
		<string>uuesigndeva</string>
		<string>qadeva</string>
		<string>khhadeva</string>
		<string>ghhadeva</string>
		<string>zadeva</string>
		<string>dddhadeva</string>
		<string>rhadeva</string>
		<string>fadeva</string>
		<string>yyadeva</string>
		<string>rrvocalicdeva</string>
		<string>llvocalicdeva</string>
		<string>lvocalicsigndeva</string>
		<string>llvocalicsigndeva</string>
		<string>danda</string>
		<string>dbldanda</string>
		<string>zerodeva</string>
		<string>onedeva</string>
		<string>twodeva</string>
		<string>threedeva</string>
		<string>fourdeva</string>
		<string>fivedeva</string>
		<string>sixdeva</string>
		<string>sevendeva</string>
		<string>eightdeva</string>
		<string>ninedeva</string>
		<string>abbreviationsigndeva</string>
		<string>highspacingdotdeva</string>
		<string>acandradeva</string>
		<string>oedeva</string>
		<string>ooedeva</string>
		<string>awdeva</string>
		<string>uedeva</string>
		<string>uuedeva</string>
		<string>zhadeva</string>
		<string>yaheavydeva</string>
		<string>ggadeva</string>
		<string>jjadeva</string>
		<string>glottalstopdeva</string>
		<string>dddadeva</string>
		<string>bbadeva</string>
		<string>zerowidthnonjoiner</string>
		<string>zerowidthjoiner</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>ellipsis</string>
		<string>inr_currency</string>
		<string>minus</string>
		<string>dottedcircle</string>
		<string>zerocombiningdigitdeva</string>
		<string>onecombiningdigitdeva</string>
		<string>twocombiningdigitdeva</string>
		<string>threecombiningdigitdeva</string>
		<string>fourcombiningdigitdeva</string>
		<string>fivecombiningdigitdeva</string>
		<string>sixcombiningdigitdeva</string>
		<string>sevencombiningdigitdeva</string>
		<string>eightcombiningdigitdeva</string>
		<string>ninecombiningdigitdeva</string>
		<string>acombiningletterdeva</string>
		<string>ucombiningletterdeva</string>
		<string>kacombiningletterdeva</string>
		<string>nacombiningletterdeva</string>
		<string>pacombiningletterdeva</string>
		<string>racombiningletterdeva</string>
		<string>vicombiningletterdeva</string>
		<string>avagrahacombiningsigndeva</string>
		<string>spacingcandrabindudeva</string>
		<string>candrabinduviramadeva</string>
		<string>doublecandrabinduviramadeva</string>
		<string>candrabindudigittwodeva</string>
		<string>candrabindudigitthreedeva</string>
		<string>candrabinduavagrahadeva</string>
		<string>pushpikadeva</string>
		<string>gapfillerdeva</string>
		<string>caretdeva</string>
		<string>headstrokedeva</string>
		<string>isign_ra_virama_anusvara.ja</string>
		<string>isign_ra_virama.ja</string>
		<string>isigndeva_anusvaradeva.ja</string>
		<string>isigndeva.ja</string>
		<string>isigndeva_anusvara.tha</string>
		<string>isign_ra_virama_anusvara.tha</string>
		<string>isign_ra_virama.tha</string>
		<string>isigndeva.tha</string>
		<string>isign_ra_virama_anusvara.alt1</string>
		<string>isign_ra_virama.alt1</string>
		<string>isigndeva_anusvara.alt1</string>
		<string>isigndeva_anusvaradeva.alt4</string>
		<string>isign_ra_virama_anusvara.alt4</string>
		<string>isign_ra_virama.alt4</string>
		<string>isigndeva.alt4</string>
		<string>isign_ra_virama_anusvara.alt2</string>
		<string>ba_virama_ra_viramadeva</string>
		<string>isign_ra_virama.alt2</string>
		<string>isigndeva.alt1</string>
		<string>esigndeva_anusvaradeva</string>
		<string>esign_ra_virama.alt1</string>
		<string>esign_ra_virama_anusvara</string>
		<string>aisigndeva_anusvaradeva</string>
		<string>aisign_ra_virama.alt1</string>
		<string>aisign_ra_virama_anusvara</string>
		<string>radeva_viramadeva</string>
		<string>radeva_viramadeva_anusvaradeva</string>
		<string>viramadeva_radeva_alt</string>
		<string>viramadeva_radeva</string>
		<string>shadeva_viramadeva_radeva</string>
		<string>phadeva_radeva_nuktadeva</string>
		<string>tadeva_viramadeva_tadeva</string>
		<string>kadeva_viramadeva_ssadeva</string>
		<string>jadeva_viramadeva_nyadeva</string>
		<string>kadeva_viramadeva</string>
		<string>khadeva_viramadeva</string>
		<string>gadeva_viramadeva</string>
		<string>ghadeva_viramadeva</string>
		<string>ngadeva_viramadeva</string>
		<string>cadeva_viramadeva</string>
		<string>chadeva_viramadeva</string>
		<string>jadeva_viramadeva</string>
		<string>jhadeva_viramadeva</string>
		<string>nyadeva_viramadeva</string>
		<string>ttadeva_viramadeva</string>
		<string>tthadeva_viramadeva</string>
		<string>ddadeva_viramadeva</string>
		<string>ddhadeva_viramadeva</string>
		<string>nnadeva_viramadeva</string>
		<string>tadeva_viramadeva</string>
		<string>thadeva_viramadeva</string>
		<string>dadeva_viramadeva</string>
		<string>dhadeva_viramadeva</string>
		<string>nadeva_viramadeva</string>
		<string>nnnadeva_viramadeva</string>
		<string>padeva_viramadeva</string>
		<string>phadeva_viramadeva</string>
		<string>badeva_viramadeva</string>
		<string>bhadeva_viramadeva</string>
		<string>madeva_viramadeva</string>
		<string>yadeva_viramadeva</string>
		<string>isigndeva.alt2</string>
		<string>isigndeva_anusvara.alt2</string>
		<string>ladeva_viramadeva</string>
		<string>lladeva_viramadeva</string>
		<string>llladeva_viramadeva</string>
		<string>vadeva_viramadeva</string>
		<string>shadeva_viramadeva</string>
		<string>ssadeva_viramadeva</string>
		<string>sadeva_viramadeva</string>
		<string>hadeva_viramadeva</string>
		<string>qadeva_viramadeva</string>
		<string>khhadeva_viramadeva</string>
		<string>ghhadeva_viramadeva</string>
		<string>zadeva_viramadeva</string>
		<string>fadeva_viramadeva</string>
		<string>shadeva_viramadeva.alt</string>
		<string>ta_virama_ra_viramadeva</string>
		<string>ta_virama_ta_viramadeva</string>
		<string>ka_virama_ssa_viramadeva</string>
		<string>ja_virama_nya_viramadeva</string>
		<string>isigndeva_anusvaradeva</string>
		<string>isign_ra_virama</string>
		<string>isign_ra_virama_anusvara</string>
		<string>isigndeva.alt3</string>
		<string>isigndeva_anusvaradeva.alt3</string>
		<string>isign_ra_virama.alt3</string>
		<string>isign_ra_virama_anusvara.alt3</string>
		<string>iisigndeva_anusvaradeva</string>
		<string>iisigndeva_ra_virama</string>
		<string>iisign_ra_virama_anusvara</string>
		<string>iisigndeva.alt1</string>
		<string>iisigndeva_anusvaradeva.alt1</string>
		<string>iisigndeva_ra_virama.alt1</string>
		<string>iisign_ra_virama_anusvara.alt1</string>
		<string>vattudeva_ulowdeva</string>
		<string>vattudeva_uulowdeva</string>
		<string>glyph244</string>
		<string>yadeva_alt</string>
		<string>radeva_viramadeva.alt</string>
		<string>kadeva_viramadeva_radeva</string>
		<string>khadeva_viramadeva_radeva</string>
		<string>gadeva_viramadeva_radeva</string>
		<string>jadeva_viramadeva_radeva</string>
		<string>jhadeva_viramadeva_radeva</string>
		<string>tadeva_viramadeva_radeva</string>
		<string>dadeva_viramadeva_radeva</string>
		<string>padeva_viramadeva_radeva</string>
		<string>phadeva_viramadeva_radeva</string>
		<string>badeva_viramadeva_radeva</string>
		<string>bhadeva_viramadeva_radeva</string>
		<string>madeva_viramadeva_radeva</string>
		<string>vadeva_viramadeva_radeva</string>
		<string>sadeva_viramadeva_radeva</string>
		<string>hadeva_viramadeva_radeva</string>
		<string>sha_virama_rvocalicdeva</string>
		<string>kadeva_viramadeva_kadeva</string>
		<string>kadeva_viramadeva_tadeva</string>
		<string>kadeva_viramadeva_ladeva</string>
		<string>kadeva_viramadeva_vadeva</string>
		<string>gadeva_viramadeva_nadeva</string>
		<string>ngadeva_viramadeva_kadeva</string>
		<string>ngadeva_viramadeva_khadeva</string>
		<string>ngadeva_viramadeva_gadeva</string>
		<string>ngadeva_viramadeva_ghadeva</string>
		<string>ngadeva_viramadeva_madeva</string>
		<string>nga_virama_ka_virama_ssadeva</string>
		<string>cadeva_viramadeva_cadeva</string>
		<string>chadeva_viramadeva_vadeva</string>
		<string>jadeva_viramadeva_jadeva</string>
		<string>nyadeva_viramadeva_cadeva</string>
		<string>nyadeva_viramadeva_jadeva</string>
		<string>ttadeva_viramadeva_ttadeva</string>
		<string>ttadeva_viramadeva_tthadeva</string>
		<string>ttadeva_viramadeva_yadeva</string>
		<string>ttadeva_viramadeva_vadeva</string>
		<string>tthadeva_viraamdeva_tthadeva</string>
		<string>tthadeva_viraamdeva_yadeva</string>
		<string>ddadeva_viramadeva_ddadeva</string>
		<string>ddadeva_viramadeva_ddhadeva</string>
		<string>ddadeva_viramadeva_yadeva</string>
		<string>ddhadeva_viramadeva_ddhadeva</string>
		<string>ddhadeva_viramadeva_yadeva</string>
		<string>dadeva_viramadeva_gadeva</string>
		<string>dadeva_viramadeva_ghadeva</string>
		<string>dadeva_viramadeva_dadeva</string>
		<string>dadeva_viramadeva_dhadeva</string>
		<string>dadeva_viramadeva_nadeva</string>
		<string>dadeva_viramadeva_badeva</string>
		<string>dadeva_viramadeva_bhadeva</string>
		<string>dadeva_viramadeva_madeva</string>
		<string>dadeva_viramadeva_yadeva</string>
		<string>dadeva_viramadeva_vadeva</string>
		<string>nadeva_viramadeva_nadeva</string>
		<string>padeva_viramadeva_tadeva</string>
		<string>padeva_viramadeva_ladeva</string>
		<string>phadeva_viramadeva_ladeva</string>
		<string>ladeva_viramadeva_ladeva</string>
		<string>shadeva_viramadeva_cadeva</string>
		<string>shadeva_viramadeva_nadeva</string>
		<string>shadeva_viramadeva_ladeva</string>
		<string>shadeva_viramadeva_vadeva</string>
		<string>ssadeva_viramadeva_ttadeva</string>
		<string>ssadeva_viramadeva_tthadeva</string>
		<string>hadeva_viramadeva_nnadeva</string>
		<string>hadeva_viramadeva_nadeva</string>
		<string>hadeva_viramadeva_madeva</string>
		<string>hadeva_viramadeva_yadeva</string>
		<string>hadeva_viramadeva_ladeva</string>
		<string>hadeva_viramadeva_vadeva</string>
		<string>sa_virama_ta_virama_radeva</string>
		<string>ja_virama_ja_viramadeva</string>
		<string>dadeva_rvocalicsigndeva</string>
		<string>radeva_usigndeva</string>
		<string>radeva_uusigndeva</string>
		<string>hadeva_rvocalicdeva</string>
		<string>nadeva_viramadeva_alt</string>
		<string>ghadeva_viramadeva_radeva</string>
		<string>cadeva_viramadeva_radeva</string>
		<string>thadeva_viramadeva_radeva</string>
		<string>dhadeva_viramadeva_radeva</string>
		<string>nadeva_viramadeva_radeva</string>
		<string>ladeva_viramadeva_radeva</string>
		<string>nga_virama_ka_viramadeva</string>
		<string>osigndeva_anusvaradeva</string>
		<string>osign_ra_virama.alt1</string>
		<string>osign_ra_virama_anusvara</string>
		<string>ausigndeva_anusvaradeva</string>
		<string>ausign_ra_virama.alt1</string>
		<string>ausign_ra_virama_anusvara</string>
		<string>nyadeva_viramadeva_radeva</string>
		<string>nnadeva_viramadeva_radeva</string>
		<string>yadeva_viramadeva_radeva</string>
		<string>ssadeva_viramadeva_radeva</string>
		<string>ka_virama_ssa_virama_radeva</string>
		<string>ja_virama_nya_virama_radeva</string>
		<string>kadeva_viramadeva_radeva.np</string>
		<string>eightdeva.np</string>
		<string>fivedeva.np</string>
		<string>zhadeva.np</string>
		<string>da_ddha_ra_yadeva</string>
		<string>jhadeva.np</string>
		<string>nep_jha_virama</string>
		<string>ladeva.mr</string>
		<string>shadeva.mr</string>
		<string>shadeva_viramadeva.mr</string>
	</array>
</dict>
</plist>
